body {
    margin: 0;
    padding: 0;
}
.inner {
    width: 100%;
}
.inner:before,
.inner:after {
    content: '';
    display: block;
    clear: both;
}
.header {
    background:  url("../img/bg_t.png") center no-repeat, linear-gradient(to right, #663E97, #AC72AF);
    -webkit-background-size: cover;
    background-size: cover;
    width: 876px;
    height: 627px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.header__logo {
    margin-left: 63px;
    font-size: 46px;
    text-decoration: none;
}
.menu--mt {
    font-family: 'Roboto', sans-serif;
    margin: 30px 60px;
    font-size: 13px;
    /*opacity: .7;*/
}
.menu--right {
    float: right;
}
.menu__item {
    margin-left: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.menu__item:hover {
    border-bottom: 2px solid white;
}
.menu__item--last-item {
    margin-left: 100px;
    vertical-align: -webkit-baseline-middle;
}
.menu__item--last-item:hover {
    border-bottom: 0;
}
.block {
    margin: 0;
    padding: 0;
}
.block__block-1 {
    width: 91%;
    height: 60%;
    background: #ffffff;
    opacity: .3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.block__block-2 {
    width: 88%;
    height: 63%;
    background: #ffffff;
    opacity: .3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.block__block-3 {
    width: 85%;
    height: 67%;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 0;
}

.block__block-3:before,
.block__block-3:after {
    content: '';
    display: block;
    clear: both;
}

.block__block-3--img-close {
    background: url('../img/btn_close.png');
    width: 16px;
    height: 16px;
    position: absolute;
    margin: 10px;
    right: 0;
    cursor: pointer;
}

.block__block-3--left {
    float: left;
    width: 66%;
    height: 100%;
    background: #ffffff;
    cursor: crosshair;
        background: url('../img/bg_cross.png') no-repeat;
    background-size: cover;
}

.block__block-3--img-1 {
    padding: 37px 0 0 41px;
}

.block__block-3--img-2 {
    margin: 18px;
    text-align: center;
}

.block__block-3--right {
    float: right;
    width: 34%;
    height: 100%;
    background: #ffffff;
}

.block__block-3--right-block-1 {
    margin: 43px 33px 74px 31px;
    height: 70%;
    font-family: 'Roboto', sans-serif;
}

.bl-3-1 {
    width: 50px;
    height: 25px;
    background: #ffa60d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bl-3-1 span {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.bl-3-2 {
    margin: 0;
    padding: 0;
}

.bl-3-2  h1 {
    margin: 5px auto;
    font-size: 21px;
    line-height: 1.4;
    font-weight: bold;
}

.bl-3-2  span {
    color: #5e4fff;
}

.bl-3-3 {
    display: flex;
    align-items: baseline;
    margin: 10px auto;
    height: 14px;
}

.bl-3-3 span {
    float: left;
    font-size: 12px;
    font-weight: bold;
}

.bl-3-3__form {
    float: left;
    margin: 0 15px;
}

.stars input {
    display: none;
}
.stars input + label {
    float: right;
    border: 0;
    margin: 0 3px;
    width: 14px;
    height: 14px;
    background: url('../img/starempty.png') no-repeat;
    background-size: cover;
    cursor: pointer;
}
.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
    background: url('../img/starfull.png') no-repeat;
    background-size: cover;
}
