# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.idea/
.yarn/
node_modules/
dashboard/src/scss/**/*.css
dashboard/src/scss/**/*.css.map
react/marvel/**/*.css
react/marvel/**/*.css.map
react/marvel/.yarn/install-state.gz
package-lock.json
react/marvel/yarn.lock
react/marvel/package-lock.json
vue/Lesson_5/task_1/google_favorite/.firebaserc
vue/Lesson_5/task_1/google_favorite/firebase.json
.gitignore
vue/Lesson_5/task_1/google_favorite/.firebase/hosting.ZGlzdA.cache
vue/Lesson_5/task_2/raspberry/.firebaserc
vue/Lesson_5/task_2/raspberry/firebase.json
vue/Lesson_5/task_2/raspberry/.firebase/hosting.ZGlzdA.cache
vue/Lesson_5/task_3/notebooks/.firebaserc
vue/Lesson_5/task_3/notebooks/firebase.json
vue/Lesson_5/task_3/notebooks/.firebase/hosting.ZGlzdA.cache
catalog/view/theme/default/stylesheet/app.css
catalog/view/theme/default/stylesheet/appBanner.css
catalog/view/theme/default/stylesheet/appHeader.css
catalog/view/theme/default/stylesheet/backgrounds.css
catalog/view/theme/default/stylesheet/button.css
catalog/view/theme/default/stylesheet/charInfo.css
catalog/view/theme/default/stylesheet/charList.css
catalog/view/theme/default/stylesheet/charSearchForm.css
catalog/view/theme/default/stylesheet/checkbox.css
catalog/view/theme/default/stylesheet/comicsList.css
catalog/view/theme/default/stylesheet/datepicker.css
catalog/view/theme/default/stylesheet/heroesList.css
catalog/view/theme/default/stylesheet/index.css
catalog/view/theme/default/stylesheet/input.css
catalog/view/theme/default/stylesheet/lg-autoplay.css
catalog/view/theme/default/stylesheet/lg-comments.css
catalog/view/theme/default/stylesheet/lg-fullscreen.css
catalog/view/theme/default/stylesheet/lg-medium-zoom.css
catalog/view/theme/default/stylesheet/lg-pager.css
catalog/view/theme/default/stylesheet/lg-relative-caption.css
catalog/view/theme/default/stylesheet/lg-rotate.css
catalog/view/theme/default/stylesheet/lg-share.css
catalog/view/theme/default/stylesheet/lg-thumbnail.css
catalog/view/theme/default/stylesheet/lg-transitions.css
catalog/view/theme/default/stylesheet/lg-video.css
catalog/view/theme/default/stylesheet/lg-zoom.css
catalog/view/theme/default/stylesheet/lightgallery-bundle.css
catalog/view/theme/default/stylesheet/lightgallery-core.css
catalog/view/theme/default/stylesheet/lightgallery.css
catalog/view/theme/default/stylesheet/main.css
catalog/view/theme/default/stylesheet/maps.css
catalog/view/theme/default/stylesheet/mixins.css
catalog/view/theme/default/stylesheet/pagging.css
catalog/view/theme/default/stylesheet/popup.css
catalog/view/theme/default/stylesheet/product-card.css
catalog/view/theme/default/stylesheet/product-filter.css
catalog/view/theme/default/stylesheet/product-list.css
catalog/view/theme/default/stylesheet/quantity.css
catalog/view/theme/default/stylesheet/radio.css
catalog/view/theme/default/stylesheet/randomChar.css
catalog/view/theme/default/stylesheet/range.css
catalog/view/theme/default/stylesheet/section.css
catalog/view/theme/default/stylesheet/showmore.css
catalog/view/theme/default/stylesheet/singleCharacterLayout.css
catalog/view/theme/default/stylesheet/singleComicLayout.css
catalog/view/theme/default/stylesheet/skeleton.css
catalog/view/theme/default/stylesheet/slick-theme.css
catalog/view/theme/default/stylesheet/slick.css
catalog/view/theme/default/stylesheet/sticky.css
catalog/view/theme/default/stylesheet/style.css
catalog/view/theme/default/stylesheet/swiper.css
catalog/view/theme/default/stylesheet/tippy.css
catalog/view/theme/default/stylesheet/variables.css
.gitignore
