body {
    margin: 0;
    padding: 0;
    background: url("img/bg.jpg");
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 5px 0;
    padding: 5px;
    color: #0000ff;
    font: 28px/1em "Comic Sans MS", cursive;
}

a {
    color: #3D6FA9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0000FF;
}

.container {
    width: 50%;
    padding: 11px;
    margin: 0 auto;
}

.header {
    min-width: 350px;
    border: 1px dotted #0000FF;
    background: #E9F0F5;
    background: url("img/bgt.png");
}

.col-3 {
    padding-left: 10px;
    text-align: left;
}

table {
    font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
    border: 1px dotted #0000FF;
    background: #F9FAFB;
    color: #0F1419;
    width: 100%;
    padding: 11px;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 24px;
    text-align: justify;
}

table th {
    background-color: #E9F0F5;
    text-align: center;
    border: 1px dotted #8099B3;
    vertical-align: middle;
    padding: 7px;
}

table td {
    padding: 2px;
    border: 1px dotted #8099B3;
    vertical-align: middle;
    text-align: center;
    background: url("img/bgt.png");
}

img {
    margin: 0;
    padding: 0;
    height: 100px;
    vertical-align: middle;
}

th:first-child {
    width: 5%;
}

th:last-child {
    width: 75%;
}