// <BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  padding: rem(21) rem(25);
  font-family: inherit;
  font-weight: 500;
  line-height: math.div(22, 18);
  text-align: center;
  display: inline-block;
  border-radius: rem(10);
  background-color: #23b123;
  transition: all 0.3s ease 0s;
}