/**
 *  Global color variables.
 *	The underscore Never use them directly in the sections, only for functions and mixins.
 */

$_color-primary-white: #ffffff !default;
$_color-primary-gainsboro: #e0e0e0 !default;
$_color-primary-cobalt: #0059ac !default;
$_color-primary-gray: #777777 !default;
$_color-primary-blue: #008baa !default;

$_color-secondary-black: #000000 !default;
$_color-secondary-gainsboro: #dddddd !default;

/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
$palettes: (
  "primary-white": (
    base: $_color-primary-white,
  ),
  "primary-gainsboro": (
    base: $_color-primary-gainsboro,
  ),
  "primary-cobalt": (
    base: $_color-primary-cobalt,
  ),
  "primary-gray": (
    base: $_color-primary-gray,
  ),
  "primary-blue": (
    base: $_color-primary-blue,
  ),
  "secondary-black": (
    base: $_color-secondary-black,
  ),
  "secondary-gainsboro": (
    base: $_color-secondary-gainsboro,
  )
);