// Заголовки, общие БЭМ-блоки и прочее...

.strong {
  @include font-family(arial-bold);
}

blockquote {
  padding: rem(8) 0 rem(24) rem(48);
  @include font-family(arial-italic);

  .blockquote-text {
    position: relative;
    padding: rem(9) 0 rem(9) rem(24);

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      border-left: rem(8) solid palette(primary-blue);
    }
  }
}

.table {
  padding: rem(16) rem(16) rem(24);

  table {
    width: 100%;
    line-height: rem(20);
    letter-spacing: rem(0.1);
    border-spacing: 8px 7px;
    border-collapse: collapse;
    @include font-family(dmsans-regular);
  }

  thead {
    @include font-family(dmsans-bold);
    @include font(base, 20, 700);
    background-color: palette(primary-white-smoke);
    text-align: left;
  }

  th {
    padding: rem(8);
    width: 22%;
    height: rem(48);
  }

  td {
    padding: rem(7) rem(4);
    width: 23%;
    height: rem(50);
  }

  tr {
    transition: all 0.3s ease 0s;

    &:not(:last-child) {
      border-bottom: rem(1) solid palette(primary-gainsboro);
    }

    &:hover {
      background-color: palette(primary-white-smoke);
    }
  }
}

.list {
  padding-left: rem(31);

  &:not(:last-child) {
    margin-bottom: rem(8);
  }

  li {
    list-style: disc;

    &:not(:last-child) {
      padding-bottom: rem(8);
    }
  }
}

.paragraph__before-list {
  margin-bottom: rem(8);
}

.social__item {
  width: rem(32);
  height: rem(32);
  display: flex;
  border-radius: 50%;
  background-color: transparent;
  flex-shrink: 0;
  gap: rem(16);
}

.page {

  // .page__main
  &__main {}

  // .page__partners
  &__partners {}

  // .page__how
  &__how {}

  // .page__pathway
  &__pathway {}

  // .page__why
  &__why {}

  // .page__reviews
  &__reviews {}

  // .page__download
  &__download {}
}

// ====================================================================================================
.title {
  font-weight: 600;
  line-height: math.div(65, 70);
  font-size: rem(70);
  color: #ffffff;
  @include adaptiveValue("font-size", 70, 45);

  &_s64 {
    @include adaptiveValue("font-size", 64, 40);
  }

  &_s56 {
    @include adaptiveValue("font-size", 56, 35);
  }

  span {
    color: #23b123;
  }
}

// ====================================================================================================
.text {
  line-height: 180%;
}

// ====================================================================================================
.image-block {
  max-width: rem(600);
  position: relative;
  display: flex;
  align-self: start;
  background: rgba(255, 255, 255, 0.05);
  border-radius: rem(20);
  @include adaptiveValue("padding-top", 165, 30);
  @include adaptiveValue("padding-bottom", 165, 30);
  @include adaptiveValue("padding-left", 45, 30);
  @include adaptiveValue("padding-right", 45, 30);
  overflow: hidden;

  // .image-block__circle
  &__circle {
    position: absolute;
    top: 0;
    right: 0;
    @include adaptiveValue("width", 585, 350);
    @include adaptiveValue("height", 585, 350);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.37);
    }

    // .image-block__circle_1
    &_1 {
      &::before {
        transform: translate(calc(50% - rem(18)), -20%);
      }
    }

    // .image-block__circle_2
    &_2 {
      &::before {
        transform: translate(calc(50% - rem(20)), -6%);
      }
    }
  }

  // .image-block__item
  &__item {
    position: relative;
    flex: 1 1 100%;
    text-align: center;
    z-index: 2;

    img {
      max-width: 100%;
      border-radius: rem(20);
    }
  }
}