@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial-Regular';
  src: url('../fonts/Arial/Arial-Regular.woff2') format('woff2'),
    url('../fonts/Arial/Arial-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial-Italic';
  src: url('../fonts/Arial/Arial-Italic.woff2') format('woff2'),
    url('../fonts/Arial/Arial-Italic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial-Bold';
  src: url('../fonts/Arial/Arial-Bold.woff2') format('woff2'),
    url('../fonts/Arial/Arial-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('../fonts/DM Sans/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DM Sans/DMSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold';
  src: url('../fonts/DM Sans/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DM Sans/DMSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google-Sans-Bold';
  src: url('../fonts/Google Sans/Google-Sans-Bold.woff2') format('woff2'),
    url('../fonts/Google Sans/Google-Sans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trebuchet-MS-Regular';
  src: url('../fonts/Trebuchet MS/Trebuchet-MS-Regular.woff2') format('woff2'),
    url('../fonts/Trebuchet MS/Trebuchet-MS-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trebuchet-MS-Bold';
  src: url('../fonts/Trebuchet MS/Trebuchet-MS-Bold.woff2') format('woff2'),
    url('../fonts/Trebuchet MS/Trebuchet-MS-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}