* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  background: blue;
  color: yellow;
  text-shadow: none;
  user-select: text;
}

a {
  text-decoration-skip-ink: auto; // pretty underlining links
  text-decoration: none;
  color: inherit;

  &:hover,
  &:link,
  &:visited {
    text-decoration: none;
  }
}

p {
  margin: 0 0 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

hgroup,
ul,
ol,
dd,
figure,
pre,
table,
fieldset,
hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  @include font-family(trebuchet-ms-bold);
  font-weight: 700;
  @include adaptiveValue("font-size", 48, 32);
  @include adaptiveValue("line-height", 62, 36);
}

h2 {
  @include font-family(trebuchet-ms-bold);
  @include font(m1-large, 45, 700);
  transition: all 0.3s ease 0s;

  .bg-title {
    border-bottom: rem(1) solid rgba(palette(secondary-black), 0.25);
  }
}

h3 {
  margin-bottom: rem(8);
  padding-top: rem(8);
  @include font-family(arial-bold);
  @include font(m-mid-large, 29, 700);
}

h4 {
  margin-bottom: rem(8);
  padding-top: rem(8);
  @include font-family(arial-bold);
  @include font(l1-small, 21, 700);
}

img,
svg {
  display: block;
  vertical-align: middle;
  border: none;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

html,
body {
  min-width: rem($page-min-width);
  height: 100%;
}

body {
  margin: 0;
  color: palette(secondary-black);
  @include font-family(base);
  @include font(base, 19, 400);
  background-color: palette(primary-white);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  >main {
    flex: 1 1 auto;
  }

  >* {
    min-width: 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 rem($container-padding);
  max-width: rem($container-width);
}

.container-full {
  margin: 0 auto;
  padding: 0 rem($container-padding);
  max-width: rem($container-max-width);
}