.blog {
  padding-bottom: rem(24);

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: rem(37);
    @include adaptiveValue("row-gap", 37, 15);

    @include mq($max: xl) {
      flex-direction: column-reverse;
      // flex-direction: row-reverse;
    }
  }

  &__body {
    width: 78%;

    @include mq($max: xl) {
      width: 100%;
    }
  }

  &__body-title {
    // margin-bottom: rem(32);
    @include adaptiveValue("margin-bottom", 32, 14);
  }

  &__aside {
    width: 21%;

    @include mq($max: xl) {
      width: 100%;
      text-align: center;
    }
  }

  &__aside-wrap {
    color: palette(primary-gray);
    @include font(mid-large, 25, 400);
  }

  &__aside-number {
    padding-bottom: rem(4);
    @include font-family(trebuchet-ms-bold);
    @include font(x2-large, 116, 700);
    letter-spacing: -0.05em;
  }

  &__aside-title {
    padding-bottom: rem(8);
    @include font(s3-large, 31, 400);
    color: palette(secondary-black);
  }
}