.footer {
  @include font(s-small, 17, 400);

  &__main {
    padding: rem(16) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("column-gap", 8, 6);
    border-top: rem(1) solid palette(primary-gainsboro);

    @include mq($max: sm) {
      flex-direction: column;
      gap: rem(16);
    }
  }

  &__copy {
    font-size: rem(12);
    line-height: math.div(14, 12);
  }

  &__actions {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(16);
    flex-shrink: 0;
  }
}