.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(104);
  color: palette(primary-white);
  background: #008BAA;
  border: rem(1) solid palette(secondary-black);
  transition: all 0.5s ease 0s;
  filter: drop-shadow(0 rem(4) rem(4) rgba(0, 0, 0, 0.25));
  @include font(l1-small, 18, 400);
  @include adaptiveValue("padding-top", 30, 10);
  @include adaptiveValue("padding-bottom", 30, 10);
  @include adaptiveValue("font-size", 16, 14, 1200, 768, 1);
  z-index: 50;

  @include mq($min: md) {
    display: flex;
  }

  @include mq($max: md) {
    height: rem(64);

    .header__social {
      opacity: 0;

      .menu-open & {
        opacity: 1;
      }
    }
  }

  &._header-scroll {
    padding-top: rem(12);
    padding-bottom: rem(12);
    height: rem(67);
    background-color: rgba(0, 139, 170, 0.6);

    .telegram {
      fill-opacity: 0.6;
      transition: all 0.3s ease 0s;
    }

    .header__social {
      @include mq($min: xs, $max: md) {
        opacity: 0;
      }
    }
  }

  &__container-big {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      @include adaptiveValue("column-gap", 8, 6);
    }

    @include mq($min: md) {
      width: 100%;
    }
  }

  &__logo {
    position: relative;
    z-index: 5;

    img {
      max-width: 100%;
    }
  }

  &__menu {
    width: 100%;
  }

  &__logo-info {
    @include adaptiveValue("margin-left", 22, 4);
    max-width: rem(149);
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include font(l1-small, 18, 400);
    @include adaptiveValue("column-gap", 8, 6);

    @include mq($max: md) {
      position: fixed;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      bottom: 8%;
      left: -100%;
      transition: all 0.3s ease 0s;
      overflow: auto;
      gap: rem(4);

      .menu-open & {
        top: 0;
        left: 0;
      }
    }
  }

  &__body-phone {
    @include font(s3-large, 34, 400);
    @include adaptiveValue("font-size", 30, 26, 1200, 768, 1);
  }

  &__body-phone-link {
    border-bottom: rem(1) dashed rgba(palette(primary-white), 0.25);
    @include adaptiveValue("font-size", 16, 14, 1200, 768, 1);
    transition: all 0.3s ease 0s;

    &:hover {
      border-bottom: rem(1) dashed rgba(palette(primary-white), 1);
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(16);
  }

  &__actions {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(16);
    z-index: 5;
  }
}

.menu-open .header {
  height: 100%;
}

.menu-open .header._header-scroll .header__social {
  @include mq($max: md) {
    opacity: 1;
  }
}

.menu {

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(16);

    @include mq($max: md) {
      position: fixed;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: -100%;
      left: 0;
      transition: all 0.3s ease 0s;
      overflow: auto;
      gap: rem(30);
      padding-left: rem(15);
      padding-right: rem(15);
      padding-bottom: rem(30);

      .menu-open & {
        padding-top: rem(64);
        top: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: rem(10);
    column-gap: rem(44);
    @include adaptiveValue("column-gap", 44, 15);

    @include mq($max: md) {
      flex-direction: column;
      text-align: center;
      row-gap: rem(30);
    }
  }

  &__link {
    transition: color 0.3s ease 0s;

    @include mq($max: md) {
      font-size: rem(40);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #23b123;
      }
    }
  }

  &-open .header__logo-info {
    margin-top: 7%;
    max-width: 100%;
    @include font-size(22);
    text-align: center;
  }

  &-open .header__body-phone {
    @include font-size(32);
  }

  &-open .header__body-phone-link {
    @include font-size(18);
  }

  &-open body {
    overflow: hidden;
  }
}

.icon-menu {
  display: none;

  @include mq($max: md) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    border: 0;
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #fff;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
        background-color: #fff;
      }

      &::before,
      &::after {
        background-color: #fff;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}