.main-block {
  &__content {
    @include adaptiveValue("padding-top", 128, 108);
    @include adaptiveValue("padding-bottom", 24, 15);
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // z-index: 2;
  }

  &__content-image {
    position: relative;
    width: 100%;
    max-height: rem(553);
    border-radius: rem(6);

    img {
      object-fit: cover;
    }
  }

  &__content-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    width: rem(422);
    height: rem(65);
    background: url('../img/main-block/main-polygon.png') no-repeat;

    // &::before {
    //   position: absolute;
    //   content: '';
    //   right: 0;
    //   bottom: 0;
    //   width: rem(422);
    //   height: rem(65);
    //   background: url('../img/main-block/main-polygon.png') no-repeat;
    // }

    span {}
  }

  &__content-body {
    position: absolute;
    top: rem(38);
    right: rem(112);
    max-width: rem(144);
  }

  &__content-number {
    top: 0;
    @include font-family(trebuchet-ms-bold);
    @include font(x3-mid-large, 102, 700);
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: palette(primary-gray);
  }

  &__content-text {
    @include font-family(base);
    @include font(s3-large, 31, 400);
  }

  &__tour-wrap {
    position: absolute;
    left: rem(32);
    bottom: rem(33);
    padding: rem(45) rem(40) rem(47) rem(41);
    width: rem(250);
    height: rem(250);
    background: rgba(255, 242, 0, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tour-body {
    max-width: rem(169);
    max-height: rem(158);
    text-align: center;
    @include font-family(trebuchet-ms-bold);
    @include font(base, 16, 700);
    overflow: hidden;
  }

  &__tour-title {
    padding-bottom: rem(16);
    max-height: rem(158);
    @include font-family(trebuchet-ms-bold);
    @include font(s1-large, 29, 700);
    overflow: hidden;
  }

  &__tour-code {
    margin: rem(7) auto 0;
    padding: rem(1) rem(4) rem(2) rem(5);
    width: rem(108);
    height: rem(31);
    color: palette(primary-white);
    background-color: palette(secondary-black);
    ;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    @include font(s-large, 28, 700);
  }

  &__hotel {
    padding: rem(23) rem(10) rem(27) 0;
    max-width: 65%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: rem(20);
    flex-wrap: wrap;
    @include font-family(trebuchet-ms-bold);
    @include font(m1-large, 45, 700);
  }

  &__hotel-rating {}

  &__hotel-price {
    text-align: center;
  }

  &__table {
    padding-bottom: rem(48);
    width: 54%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("column-gap", 16, 6);
    line-height: rem(14);
    white-space: nowrap;
    @include font-family(base);
  }

  &__table-score {
    @include font-size(14);
    line-height: rem(21);
  }

  &__score-title {

  }

  &__score-value {
    @include font-family(arial-bold);
    @include font(l1-small, 16, 700);
  }

  &__table-wrap {
    letter-spacing: 0.05em;
  }

  &__table-title {
    @include font(s-small, 14, 400);
    font-size: rem(12);
    text-transform: uppercase;
  }

  &__table-value {
    @include font-family(arial-bold);
    @include font(mid, 21, 700);
  }

  &__table-total {
    margin: 0 rem(8) 0 rem(16);
    padding: rem(12) rem(8) rem(12) rem(7);
    // width: rem(52);
    height: rem(52);
    color: palette(primary-white);
    background-color: palette(primary-blue);
    @include font-family(trebuchet-ms-bold);
    @include font(s-large, 28, 700);
  }

  // &__table {
  //   padding-bottom: rem(48);
  //   width: 65%;
  //   line-height: rem(16);

  //   .total {
  //     margin: 0 rem(24) 0 rem(32);
  //     padding: rem(12) rem(8) rem(12) rem(7);
  //     width: rem(52);
  //     height: rem(52);
  //     color: palette(primary-white);
  //     background-color: palette(primary-blue);
  //     @include font-family(trebuchet-ms-bold);
  //     @include font(s-large, 28, 700);
  //   }

  //   table {
  //     border-spacing: rem(16) 0;
  //     white-space: nowrap;
  //   }

  //   th:not(:first-child),
  //   td:not(:first-child) {
  //     letter-spacing: 0.05em;
  //   }

  //   th {
  //     font-weight: normal;
  //     font-size: rem(12);

  //     &:first-child {
  //       text-align: left;
  //     }

  //     &:not(:first-child) {
  //       text-transform: uppercase;
  //     }
  //   }

  //   td {
  //     @include font-family(trebuchet-ms-bold);
  //     @include font(mid, 21, 700);

  //     &:first-child {
  //       @include font-size(14);
  //       line-height: rem(16);
  //       // @include font(l-small, 16, 700);
  //     }
  //   }
  // }
}