.promo {
  padding-bottom: rem(63);

  @include mq($max: xl) {
    padding-bottom: rem(20);
  }

  &__wrap {
    border: rem(1) solid palette(primary-gainsboro);
    border-radius: rem(6);
    overflow: hidden;
  }

  &__body {
    @include adaptiveValue("padding-top", 35, 15);
    @include adaptiveValue("padding-right", 24, 16);
    @include adaptiveValue("padding-bottom", 35, 15);
    @include adaptiveValue("padding-left", 25, 15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("column-gap", 16, 6);

    @include mq($max: lg) {
      flex-direction: column;
      row-gap: rem(16);
    }
  }

  &__discount {
    width: rem(121);
    color: palette(primary-blue);
    text-align: center;
    overflow-wrap: break-word;
    @include font-family(arial-bold);
    @include font(s2-large, 34, 700);
  }

  &__info {
    @include adaptiveValue("margin-left", 15, 8);

    h3 {
      padding-top: rem(4);
    }
  }

  &__btn {
    display: flex;
    flex-shrink: 0;

    @include mq($max: sm) {
      display: grid;
      width: 100%;
    }
  }

  &__code {
    color: palette(primary-blue);
    letter-spacing: rem(1);
    text-transform: uppercase;
  }

  &__details {
    padding: rem(16) rem(24) rem(15) rem(25);
    height: rem(47);
    display: flex;
    justify-content: center;
    align-items: center;
    color: palette(primary-gray);
    background-color: palette(primary-white-smoke);
    border-top: rem(1) solid palette(primary-gainsboro);
    transition: all 0.3s ease 0s;
    @include font(s1-small, 16, 400);

    &:hover {
      background-color: palette(primary-gainsboro);
    }

    span {
      position: relative;
      padding-right: rem(18);

      &::after {
        content: '';
        position: absolute;
        top: rem(2);
        right: rem(2);
        width: rem(8);
        height: rem(8);
        border-left: rem(2) solid palette(primary-gray);
        border-bottom: rem(2) solid palette(primary-gray);
        transform: rotate(-45deg);
      }
    }
  }
}