.image-slider {
  padding: 0 0 62px;
  position: relative;

  @include mq($min: $xl) {
    display: none;
  }
}

.image-slider__wrap {

}

.image-slider__slide {
  overflow: hidden;
}

.image-slider__image {
  text-align: center;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;

  &:not(:first-child) {
    margin-left: 22px;
  }
}

.image-slider .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  line-height: 20px;
  font-size: 14px;
  background: palette(primary-green);
}

.swiper-slide {
  height: auto;
}