.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__card {
    padding: rem(30) 0 rem(40) 0;
    width: 100%;
    max-width: rem(968);
    display: flex;
    flex-direction: column;
    background-color: palette(primary-white);
    background-clip: border-box;
    border-radius: rem(30);
    word-wrap: break-word;
    overflow-x: auto;
    box-shadow: 0 rem(10) rem(60) rgba(226, 236, 249, 0.5);
  }

  &__card-header {
    padding: 0 rem(40) 0 rem(38);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__card-text {}

  &__card-title {
    margin-bottom: rem(7);
  }

  &__card-subtitle {
    display: block;
    @include font-family(base);
    @include font(base, 21, 400);
    color: palette(primary-mountain-meadow);
    letter-spacing: -0.01em;
  }

  &__card-search {
    margin: rem(4) rem(13) rem(0) rem(0);
    padding: rem(7) rem(8) rem(7) rem(40);
    max-width: rem(216);
    width: 100%;
    height: rem(38);
    @include font-family(base);
    @include font(small, 18, 400);
    color: palette(primary-echo-blue);
    letter-spacing: -0.01em;
    background: palette(primary-alice-blue);
    border-radius: rem(10);
    background-image: url('../img/main/search.svg');
    background-size: rem(26);
    background-repeat: no-repeat;
    background-position: left rem(6) center;
    transition: all 0.3s ease;
  }

  &__card-body {
    display: table;
    overflow: hidden;
  }

  .customers-table {
    padding: rem(16) rem(38) 0 rem(38);
    width: 100%;
    display: table;
  }

  .customers-area-wrapper {
    display: table-row-group;
  }

  .customers-row {
    display: table-row;
    color: palette(primary-bunker);
    border: 0;

    &.customers-row--header {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -10%;
        width: 120%;
        border-bottom: rem(1) solid palette(primary-whisper);
      }

      &.customers-row {
        color: palette(primary-echo-blue);
      }

      .customer-cell {
        padding-top: rem(24);
        padding-bottom: rem(14);
        border-bottom: none;

        &.status-cell {
          text-align: left;
          padding-left: 24px;
        }
      }
    }

    .customer-cell {
      padding: rem(19) rem(11) rem(20) rem(10);
      @include font-family(base);
      @include font(base, 21, 500);
      letter-spacing: -0.01em;
      display: table-cell;
      white-space: nowrap;
      border-bottom: rem(1) solid palette(primary-whisper);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.customer {
        width: 18.2%;
      }

      &.company {
        width: 14.6%;
      }

      &.phone {
        width: 17.5%;
      }

      &.email {
        width: 23.2%;
      }

      &.country {
        width: 15.6%;
      }

      &.status-cell {
        width: 10.3%;
        // text-align: right;
      }

      .status {
        border-radius: rem(4);

        &.active {
          padding: rem(4) rem(18);
          width: rem(80);
          height: rem(29);
          text-align: center;
          display: inline-block;
          color: palette(primary-observatory);
          background: rgba(22, 192, 152, 0.38);
          border: rem(1) solid palette(primary-persian-green);
        }

        &.inactive {
          padding: rem(4) rem(12);
          width: rem(80);
          height: rem(29);
          text-align: center;
          display: inline-block;
          color: palette(primary-red);
          background: palette(primary-pink);
          border: rem(1) solid palette(primary-red);
        }
      }
    }
  }

  &__card-bottom {
    padding: rem(30) rem(40) 0 rem(39);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__card-info {
    color: palette(primary-echo-blue);
    letter-spacing: -0.01em;
    white-space: pre;
  }

  &__card-pagination {
    width: rem(271);
    height: rem(26);

  }

  &__card-pagination-list {
    height: rem(24);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__card-pagination-item {
    background: palette(primary-white-smoke);
    border: 1px solid palette(primary-whisper);
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
      background: palette(primary-purple);

      .main__card-pagination-link {
        color: palette(primary-white);
      }
    }

    &:last-child {

      svg {
        transform: rotate(180deg);
      }
    }

    &.text {
      border: 0;
      background-color: transparent;
      pointer-events: none;
    }

    &.--active {
      background: palette(primary-purple);
      border: 1px solid palette(primary-purple);

      .main__card-pagination-link {
        color: palette(primary-white);
      }
    }
  }

  &__card-pagination-link {
    width: rem(26);
    height: rem(26);
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-family(base);
    @include font(small, 12, 500);
    color: palette(primary-atomic);
    letter-spacing: -0.01em;
    transition: all 0.3s ease;
  }
}