@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.eot');
  src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Bold.eot');
  src: url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/ibmplexsans/IBMPlexSans-Light.eot');
  src: url('../fonts/ibmplexsans/IBMPlexSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ibmplexsans/IBMPlexSans-Light.woff2') format('woff2'),
  url('../fonts/ibmplexsans/IBMPlexSans-Light.woff') format('woff'),
  url('../fonts/ibmplexsans/IBMPlexSans-Light.svg#IBMPlexSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/ibmplexsans/IBMPlexSans.eot');
  src: url('../fonts/ibmplexsans/IBMPlexSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ibmplexsans/IBMPlexSans.woff2') format('woff2'),
  url('../fonts/ibmplexsans/IBMPlexSans.woff') format('woff'),
  url('../fonts/ibmplexsans/IBMPlexSans.svg#IBMPlexSans') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Text';
  src: url('../fonts/ibmplexsans/IBMPlexSans-Text.eot');
  src: url('../fonts/ibmplexsans/IBMPlexSans-Text.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ibmplexsans/IBMPlexSans-Text.woff2') format('woff2'),
  url('../fonts/ibmplexsans/IBMPlexSans-Text.woff') format('woff'),
  url('../fonts/ibmplexsans/IBMPlexSans-Text.svg#IBMPlexSans-Text') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/ibmplexsans/IBMPlexSans-SemiBold.eot');
  src: url('../fonts/ibmplexsans/IBMPlexSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ibmplexsans/IBMPlexSans-SemiBold.woff2') format('woff2'),
  url('../fonts/ibmplexsans/IBMPlexSans-SemiBold.woff') format('woff'),
  url('../fonts/ibmplexsans/IBMPlexSans-SemiBold.svg#IBMPlexSans-SemiBold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}