/* ==========================================================================
   Config settings
   ========================================================================== */

// Main container width
$container-width: 1280px;
$container-width-wide: 768px;

// Predefined breakpoint
$xl : 1280;
$lg : 992;
$md : 768;
$sm : 576;

$laptop : 1440;

$wide : 75em;