@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #b7bacd;
    transition: all .3s ease-in;
    
    &:hover {
      color: #ffffff;
    }
  }

  main {
    background: #292d3e;
    background-size: cover;

    header {
      min-height: 100vh;
      height: 100vh;
      color: #292d3e;
      font-family: "Lato Regular", sans-serif;

      & .inner {
        position: relative;
        background-size: contain;
        background: url(../img/bg.jpg) no-repeat fixed center center;
        height: calc(100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Lato Regular", sans-serif;

        &:before,
        &:after {
          content: '';
          display: block;
          clear: both;
        }

        & .section {
          width: 702px;
          height: 623px;
          background: url(../img/rectangle_bot.png) no-repeat;

          & .top {
            margin: 28px 51px 0 51px;
            height: 115px;
            background: #2b3040;

            nav {
              height: 100%;
            }

            & ul {
              list-style: none;
              margin: 0;
              padding: 0;

              & li {
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                width: 33.33%;
                float: left;
                padding: 32px 0;

                & .active {
                  color: #ffffff;

                  &:before {
                    position: absolute;
                    bottom: -25px;
                    left: -14px;
                    width: 127%;
                    height: 2px;
                    background: #ffffff;
                    content: '';
                  }
                }

                & .menu_link {
                  position: relative;
                  display: inline-block;
                  height: 100%;

                  &:before {
                    position: absolute;
                    bottom: -27px;
                    left: -15px;
                    width: 125%;
                    height: 2px;
                    background: #ffffff;
                    content: '';
                    opacity: 0;
                  }
                }
                & a {
                  font-size: 16px;
                  display: inline-block;
                  line-height: 2;
                  text-decoration: none;
                  cursor: pointer;
                  position: relative;

                  &:after {
                    display: block;
                    content: '';
                    background-color: #ffffff;
                    height: 2px;
                    width: 0;
                    left: 50%;
                    top: 55px;
                    position: absolute;
                    -webkit-transition: width .3s ease-in-out;
                    -moz--transition: width .3s ease-in-out;
                    transition: width .3s ease-in-out;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    transform: translateX(-50%);
                  }

                  &:hover:after {
                    width: 125%;
                  }
                }
              }
            }
          }
          & .bottom {
            margin: 0 51px 0 51px;
            height: 426px;
            
            & .bottom-left {
              width: 200px;
              height: inherit;

              & .img {
                padding: 39px 0 0 24px;
              }
            }
          }
        }
      }
    }
  }
}