@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #b7bacd;
    transition: all .3s ease-in;
    
    &:hover {
      color: #ffffff;
    }
  }

  main {
    background: #292d3e;
    background-size: cover;

    header {
      min-height: 100vh;
      height: 100vh;
      color: #292d3e;
      font-family: "Lato Regular", sans-serif;

      & .inner {
        position: relative;
        background-size: contain;
        background: url(../img/bg.jpg) no-repeat fixed center center;
        height: calc(100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Lato Regular", sans-serif;

        &:before,
        &:after {
          content: '';
          display: block;
          clear: both;
        }

        & .section {
          width: 702px;
          height: 623px;
          background: url(../img/rectangle_bot.png) no-repeat;

          & .top {
            margin: 28px 51px 0 51px;
            height: 115px;
            background: #2b3040;

            nav {
              height: 100%;

              ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                  display: inline-block;
                  text-align: center;
                  vertical-align: middle;
                  width: 33.33%;
                  float: left;
                  padding: 32px 0;

                  &.active {
                    color: #ffffff;

                    a {
                      color: #ffffff;

                      &:before {
                        position: absolute;
                        bottom: -25px;
                        left: -14px;
                        width: 127%;
                        height: 2px;
                        background: #ffffff;
                        content: '';
                      }

                      &:after {
                        width: 100%;
                      }
                    }
                  }
/*                  & .menu_link {
                    position: relative;
                    display: inline-block;
                    height: 100%;

                    &:before {
                      position: absolute;
                      bottom: -25px;
                      left: -15px;
                      width: 127%;
                      height: 2px;
                      background: #ffffff;
                      content: '';
                      opacity: 0;
                    }
                  }*/

                  & a {
                    font-size: 16px;
                    display: inline-block;
                    line-height: 2;
                    text-decoration: none;
                    cursor: pointer;
                    position: relative;

                    &:after {
                      display: block;
                      content: '';
                      background-color: #ffffff;
                      height: 2px;
                      width: 0;
                      left: 50%;
                      top: 55px;
                      position: absolute;
                      -webkit-transition: width .3s ease-in-out;
                      -moz--transition: width .3s ease-in-out;
                      transition: width .3s ease-in-out;
                      -webkit-transform: translateX(-50%);
                      -moz-transform: translateX(-50%);
                      transform: translateX(-50%);
                    }

                    &:hover:after {
                      width: 125%;
                    }
                  }
                }
              }
            }
          }
          & .bottom {
            margin: 0 51px 0 51px;
            height: 426px;

            &:before,
            &:after {
              content: '';
              display: block;
              clear: both;
            }

            & .tabs__content {
              display: none;

              &.active {
                display: block;
              }
            }
            
            & .bottom-left {
              width: 33.33%;
              float: left;

              & .img {
                padding: 39px 0 0 24px;
              }

              & .star {
                float: left;
                margin: 0 39px;

                & .stars input {
                  display: none;

                  & + label {
                    float: right;
                    border: 0;
                    margin: 0 3px;
                    width: 18px;
                    height: 17px;
                    background: url('../img/star_off.png') no-repeat;
                    background-size: cover;
                    cursor: pointer;
                  }

                  &:checked ~ label,
                  &:hover,
                  &:hover ~ label {
                    background: url('../img/star_on.png') no-repeat;
                    background-size: cover;
                  }
                }
              }
            }

            & .bottom-right {
              margin: 0 0 0 30px;
              width: 61.6%;
              height: 83%;
              float: left;
              font-family: "Lato Regular", serif;

              & .one {
                padding: 40px 0 25px 0;

                & .text {
                  display: inline-block;
                  vertical-align: top;
                  width: 60%;

                  h1 {
                    font-size: 32px;
                    color: #ffffff;
                    font-weight: 300;
                    margin: 10px 0 0 0;
                  }

                  p {
                    font-size: 14px;
                    color: #fdfdfd;
                    margin: 7px 0 0 0;
                  }
                }

                & .img {
                  margin: 0 36px;
                  display: inline-block;
                }
              }

              & .two {
                font-size: 14px;
                
                & p {
                  color: #b7bacd;
                  line-height: 1.6;
                }
              }

              & .three {
                padding: 40px 0 0 0;

                & .text {
                  display: inline-block;

                  & .promotion {
                    font-size: 12px;
                    color: #fedc3f;
                  }

                  & .cost {
                    font-size: 32px;
                    color: #ffffff;
                  }
                }

                & .button {
                  display: inline-block;
                  vertical-align: top;
                  margin: 0 52px;

                  & .btn {
                    text-transform: uppercase;
                    background-color: #13e28d;
                    width: 160px;
                    height: 50px;
                    font: 16px "Lato Regular", sans-serif;
                    color: #ffffff;
                    outline: none;
                    border: 0;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: all 0.2s ease-in;

                    &:hover {
                      background-color: #129450;
                      transition: all 0.2s ease-in;
                    }

                    &:active {
                      -webkit-transform: scale(0.9);
                      -moz-transform: scale(0.9);
                      -ms-transform: scale(0.9);
                      -o-transform: scale(0.9);
                      transform: scale(0.9);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}