@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}
body a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b7bacd;
  transition: all 0.3s ease-in;
}
body a:hover {
  color: #ffffff;
}
body main {
  background: #292d3e;
  background-size: cover;
}
body main header {
  min-height: 100vh;
  height: 100vh;
  color: #292d3e;
  font-family: "Lato Regular", sans-serif;
}
body main header .inner {
  position: relative;
  background-size: contain;
  background: url(../img/bg.jpg) no-repeat fixed center center;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato Regular", sans-serif;
}
body main header .inner:before, body main header .inner:after {
  content: "";
  display: block;
  clear: both;
}
body main header .inner .section {
  width: 702px;
  height: 623px;
  background: url(../img/rectangle_bot.png) no-repeat;
}
body main header .inner .section .top {
  margin: 28px 51px 0 51px;
  height: 115px;
  background: #2b3040;
}
body main header .inner .section .top nav {
  height: 100%;
}
body main header .inner .section .top nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body main header .inner .section .top nav ul li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 33.33%;
  float: left;
  padding: 32px 0;
  /*                  & .menu_link {
                      position: relative;
                      display: inline-block;
                      height: 100%;

                      &:before {
                        position: absolute;
                        bottom: -25px;
                        left: -15px;
                        width: 127%;
                        height: 2px;
                        background: #ffffff;
                        content: '';
                        opacity: 0;
                      }
                    }*/
}
body main header .inner .section .top nav ul li.active {
  color: #ffffff;
}
body main header .inner .section .top nav ul li.active a {
  color: #ffffff;
}
body main header .inner .section .top nav ul li.active a:before {
  position: absolute;
  bottom: -27px;
  left: -14px;
  top: 57px;
  width: 127%;
  height: 2px;
  background: #ffffff;
  content: "";
}
body main header .inner .section .top nav ul li.active a:after {
  width: 100%;
}
body main header .inner .section .top nav ul li a {
  font-size: 16px;
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
body main header .inner .section .top nav ul li a:after {
  display: block;
  content: "";
  background-color: #ffffff;
  height: 2px;
  width: 0;
  left: 50%;
  top: 57px;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
body main header .inner .section .top nav ul li a:hover:after {
  width: 125%;
}
body main header .inner .section .bottom {
  margin: 0 51px 0 51px;
  height: 426px;
}
body main header .inner .section .bottom:before, body main header .inner .section .bottom:after {
  content: "";
  display: block;
  clear: both;
}
body main header .inner .section .bottom .tabs__content {
  display: none;
}
body main header .inner .section .bottom .tabs__content.active {
  display: block;
}
body main header .inner .section .bottom .bottom-left {
  width: 33.33%;
  float: left;
}
body main header .inner .section .bottom .bottom-left .img {
  padding: 39px 0 0 24px;
}
body main header .inner .section .bottom .bottom-left .star {
  float: left;
  margin: 0 39px;
}
body main header .inner .section .bottom .bottom-left .star .stars input {
  display: none;
}
body main header .inner .section .bottom .bottom-left .star .stars input + label {
  float: right;
  border: 0;
  margin: 0 3px;
  width: 18px;
  height: 17px;
  background: url("../img/star_off.png") no-repeat;
  background-size: cover;
  cursor: pointer;
}
body main header .inner .section .bottom .bottom-left .star .stars input:checked ~ label, body main header .inner .section .bottom .bottom-left .star .stars input:hover, body main header .inner .section .bottom .bottom-left .star .stars input:hover ~ label {
  background: url("../img/star_on.png") no-repeat;
  background-size: cover;
}
body main header .inner .section .bottom .bottom-right {
  margin: 0 0 0 30px;
  width: 61.6%;
  height: 83%;
  float: left;
  font-family: "Lato Regular", serif;
}
body main header .inner .section .bottom .bottom-right .one {
  padding: 40px 0 25px 0;
}
body main header .inner .section .bottom .bottom-right .one .text {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
body main header .inner .section .bottom .bottom-right .one .text h1 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 300;
  margin: 10px 0 0 0;
}
body main header .inner .section .bottom .bottom-right .one .text p {
  font-size: 14px;
  color: #fdfdfd;
  margin: 7px 0 0 0;
}
body main header .inner .section .bottom .bottom-right .one .img {
  margin: 0 36px;
  display: inline-block;
}
body main header .inner .section .bottom .bottom-right .two {
  font-size: 14px;
}
body main header .inner .section .bottom .bottom-right .two p {
  color: #b7bacd;
  line-height: 1.6;
}
body main header .inner .section .bottom .bottom-right .three {
  padding: 40px 0 0 0;
}
body main header .inner .section .bottom .bottom-right .three .text {
  display: inline-block;
}
body main header .inner .section .bottom .bottom-right .three .text .promotion {
  font-size: 12px;
  color: #fedc3f;
}
body main header .inner .section .bottom .bottom-right .three .text .cost {
  font-size: 32px;
  color: #ffffff;
}
body main header .inner .section .bottom .bottom-right .three .button {
  display: inline-block;
  vertical-align: top;
  margin: 0 52px;
}
body main header .inner .section .bottom .bottom-right .three .button .btn {
  text-transform: uppercase;
  background-color: #13e28d;
  width: 160px;
  height: 50px;
  font: 16px "Lato Regular", sans-serif;
  color: #ffffff;
  outline: none;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
body main header .inner .section .bottom .bottom-right .three .button .btn:hover {
  background-color: #129450;
  transition: all 0.2s ease-in;
}
body main header .inner .section .bottom .bottom-right .three .button .btn:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

/*# sourceMappingURL=style.css.map */
