@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #292d3e;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 58px 42px;
}

li a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

header {
    min-height: 100vh;
    height: 100vh;
    color: #292d3e;
    font-family: "Lato Regular", sans-serif;
}

.header_bg {
    position: relative;
    background-size: contain;
    background: url(../img/bg.jpg) no-repeat fixed center center;
    height: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato Regular", sans-serif;
}

.section {
    width: 702px;
    height: 643px;
    background: url(../img/rectangle_bot.png) no-repeat;
}

.top {
    margin: 28px 51px 0 50px;;
    height: 117px;
    background: #2b3040;
}