@font-face {
  font-family: 'Raleway Heavy';
  src: local('Raleway Heavy'), local('Raleway-Heavy'), url('../fonts/raleway-heavy.woff2') format('woff2'), url('../fonts/raleway-heavy.woff') format('woff'), url('../fonts/raleway-heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/ralewaylight.woff2') format('woff2'), url('../fonts/ralewaylight.woff') format('woff'), url('../fonts/ralewaylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/ralewaybold.woff2') format('woff2'), url('../fonts/ralewaybold.woff') format('woff'), url('../fonts/ralewaybold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.cls-1 {
  font-size: 50px;
  fill: #262626;
  text-anchor: end;
  font-family: 'Pacifico', cursive;
  transition: all 0.3s ease-in;

  &:hover {
    fill: #ff6033;
    transition: all 0.3s ease-in;
  }
}
.cls-2 {
  font-size: 25px;
}
.cls-3 {
  fill: #b9b9b9;
  text-anchor: end;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  transition: all 0.3s ease-in;

  &:hover {
    fill: #ff2b58;
    transition: all 0.3s ease-in;
  }
}

.img {
  fill: #000000;
  transition: all 0.3s ease-in;
}

.b-up-arrow {
  position: fixed;
  bottom: 70px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}
.b-up-arrow:hover {
  opacity: 1;
  background: #000000 !important;
  transition: all 0.3s ease-in;
}
.b-up-arrow:after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid;
  border-right: 2px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.b-up-arrow_pos_right {
  right: 36px;
}

.inner {
  width: 1170px;
  padding: 1px;
  margin: 0 auto;
}

.btn {
  margin: 31px 0 0;
  background: #ff6033;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  font-family: "Raleway Light", sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.25), 0 6px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s ease-in;

  &:hover {
    background: #da4b28;
    box-shadow: none;
    transition: all 0.3s ease-in;
  }
}

h1 {
  margin: 0;
  font-family: "Raleway Bold", sans-serif;
  font-size: 90px;
  color: #262626;
}

p {
  margin: 18px 0 0;
  font-family: "Raleway Light", sans-serif;
  font-size: 17px;
  color: #262626;
  line-height: 1.7;
}

a {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
main {

  height: 100%;
}
header {
  //position: absolute;
  //min-height: 1087px;
  height: 100vh;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #f9f8fb url("../img/s1-bg.jpg") no-repeat fixed center top;
  background-size: cover;
  height: 100%;

  nav {
    display: inline-block;
    vertical-align: middle;

    @media all and (max-width: 740px) {
      display: none;
    }

    &.opened {
      display: block;
      position: absolute;
      top: 86px;
      right: 50px;

      a {
        display: block;
        padding: 10px;
        margin: 0;
        text-align: center;
        background: #262626;
        color: #ffffff;
        transition: all 0.3s ease-in;

        &:hover {
          background: transparent;
          color: #262626;
          transition: all 0.3s ease-in;
        }
      }
    }

    a {
      display: inline-block;
      vertical-align: middle;
      font-family: "Raleway Bold", sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 37px;
      font-size: 16px;
      color: #262626;
      cursor: pointer;

      &:after {
        background-color: #ff6033;
        display: block;
        position: relative;
        content: "";
        height: 3px;
        width: 0;
        top: -25px;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
      }

      &:hover:after,
      &:focus:after {
        width: 100%;
      }

      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }

  #logo {
    text-decoration: none;
    font-size: 88px;
    font-weight: bold;
  }

  .hamburger {
    cursor: pointer;
    transition: background 0.3s;

    span {
      display: block;
      margin: 10px 0;
      width: 40px;
      height: 4px;
      background: #333333;
      position: relative;
      border-radius: 2px;
      transition: background 0s 0.3s;

      @media all and (min-width: 741px) {
        display: none;
      }

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background: #333333;
        border-radius: 2px;
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
      }

      &:before {
        top: -9px;
        transition-property: top, transform;
      }

      &:after {
        bottom: -9px;
        transition-property: bottom, transform;
      }
    }

    &.active {

      span {
        background: none;

        &:before {
          transform: rotate(45deg);
          top: 0;
          transition-delay: 0s, 0.3s;
        }

        &:after {
          transform: rotate(-45deg);
          bottom: 0;
          transition-delay: 0s, 0.3s;
        }
      }
    }
  }

  .inner {
    height: 100%;
    position: relative;
  }

  .menu {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    max-width: 370px;
    min-height: 258px;
    margin: auto;
  }

  .scroll {
    width: 24px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 69px;
  }

  h1 {
    font-family: "Raleway Heavy", sans-serif;
    font-size: 60px;
  }
}

.s2 {
  background: url("../img/s2-bg.jpg") no-repeat center;
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 700px;
  height: 100vh;

  .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .s2-content {
    max-width: 501px;
    min-height: 283px;
    position: absolute;
    top: 39%;
    bottom: 50%;
    left: 56%;
    margin: auto;
  }

  h1 {
    font-family: "Raleway Bold", sans-serif;
    color: #ffffff;
    font-size: 90px;
  }

  p {
    color: #ffffff;
    font-size: 17px;
    text-align: left;
  }
}
.s3 {
  background: url("../img/s3-bg.jpg") no-repeat right center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 790px;
  height: 100vh;

  .inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .s3-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttons {
    width: 400px;

    a {
      position: relative;
      display: block;
      margin-top: 20px;
      width: 100%;
      height: 100px;
      background: #ffffff;
      color: #262626;
      text-decoration: none;
      font-family: "Raleway Bold", sans-serif;
      font-size: 20px;
      box-shadow: 0 0 19px rgba(0, 0, 0, 0.25), 0 6px 12px rgba(0, 0, 0, 0.22);
      transition: all 0.3s ease-in;

      &:hover {
        background: #ff6033;
        color: #ffffff;
        box-shadow: none;
        transition: all 0.3s ease-in;

        .img {
          fill: #ffffff;
          transition: all 0.3s ease-in;
        }
      }
    }

    .btn-text {
      width: 75%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-right: 1px solid #9d9d9d;
    }

    .btn-img {
      position: absolute;
      right: 25px;
      top: 25px;
    }
  }

  h1 {
    margin-bottom: 75px;
    color: #ffffff;
    font-size: 90px;
  }
}
.s4 {
  background: #ffe92f;
  display: flex;
  justify-content: center;

  .inner {
    height: 100%;
  }

  .s4-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-top: 100px;
    }
  }

  .gallery-img {
    width: 100%;
    margin: 46px 0 0;
    font-size: 0;
  }

  .grid {
    max-width: 1170px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .grid-sizer,
  .grid-item {
    float: left;
    cursor: pointer;
    margin-bottom: 10px;
    

    .hover-block {
      position: absolute;
      top: 0;
      left: 0;
      background: #00c4c4;
      background: rgba(0, 196, 196, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all .3s ease-in;

      &:hover {
        opacity: 1;
        transition: all .3s ease-in;
      }

      & > a {
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        line-height: 1.8;
        font-size: 30px;
      }
    }

    img {
      display: block;
      max-width: 100%;
    }

    &:nth-child(1) {
      position: relative;
/*      width: 778px;
      height: 558px;*/

      & .hover-block {
        position: absolute;
        width: 100%;
        height: 100%;
/*        width: 778px;
        height: 558px;*/
      }
    }

    &:nth-child(2) {
      position: relative;
      //margin: 4px 0 0 10px;
/*      width: 378px;
      height: 268px;*/

      & .hover-block {
        position: absolute;
        width: 100%;
        height: 100%;
/*        width: 378px;
        height: 268px;*/
      }
    }

    &:nth-child(3) {
      position: relative;
      //margin: 12px 0 0 10px;
/*      width: 378px;
      height: 268px;*/

      & .hover-block {
        position: absolute;
        width: 100%;
        height: 100%;
/*        width: 378px;
        height: 268px;*/
      }
    }

    &:nth-child(4) {
      position: relative;
      //margin: 10px 0 0 7px;
/*      width: 568px;
      height: 398px;*/

      & .hover-block {
        position: absolute;
        width: 100%;
        height: 100%;
/*        width: 568px;
        height: 398px;*/
      }
    }

    &:nth-child(5) {
      position: relative;
      //margin: 10px 0 0 24px;
/*      width: 568px;
      height: 398px;*/

      & .hover-block {
        position: absolute;
        width: 100%;
        height: 100%;
/*        width: 568px;
        height: 398px;*/
      }
    }
  }
}

  .btn {
    margin-bottom: 120px;
    background: #5585a2;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #416e86;
      box-shadow: none;
      transition: all 0.3s ease-in;
    }
  }

  p {
    max-width: 578px;
    text-align: center;
  }

  a {
    display: block;
  }

.s5 {
  background: url("../img/s5-bg.jpg") no-repeat right center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 500px;
  height: 50vh;

  .inner {
    height: 100%;
  }

  .btn {
    width: 170px;
    background: #96b92c;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #5f781d;
      box-shadow: none;
      transition: all 0.3s ease-in;
    }
  }
}
.s6 {
  background: url("../img/s6-bg.jpg") no-repeat left top;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 864px;
  height: 100vh;

  .inner {
    height: 100%;
  }

  .btn {
    background: #f72b3b;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #bf2430;
      box-shadow: none;
      transition: all 0.3s ease-in;
    }
  }
}
.s7 {
  background: url("../img/s7-bg.jpg") no-repeat center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 866px;
  height: 100vh;

  .inner {
    height: 100%;
  }

  .btn {
    background: #00c4c4;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #008686;
      box-shadow: none;
      transition: all 0.3s ease-in;
    }
  }
}
footer {
  background: #262626;
  display: flex;
  justify-content: center;
  height: 90px;

  .inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  p {
    margin: 0;
    font-family: "Raleway Light", sans-serif;
    font-size: 16px;
    color: #b9b9b9;
    
    &:nth-child(2) {
      font-size: 15px;
    }
    
    span {
      color: #ff2b58;
      font-weight: bold;
    }
  }
}