@font-face {
  font-family: "Raleway Heavy";
  src: local("Raleway Heavy"), local("Raleway-Heavy"), url("../fonts/raleway-heavy.woff2") format("woff2"), url("../fonts/raleway-heavy.woff") format("woff"), url("../fonts/raleway-heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Light";
  src: local("Raleway Light"), local("Raleway-Light"), url("../fonts/ralewaylight.woff2") format("woff2"), url("../fonts/ralewaylight.woff") format("woff"), url("../fonts/ralewaylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Bold";
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/ralewaybold.woff2") format("woff2"), url("../fonts/ralewaybold.woff") format("woff"), url("../fonts/ralewaybold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.cls-1 {
  fill: #262626;
  fill-rule: evenodd;
}

.cls-2 {
  font-size: 25px;
}

.cls-3 {
  fill: #b9b9b9;
  text-anchor: end;
  font-size: 25px;
  font-family: "Pacifico", cursive;
}

.b-up-arrow {
  position: fixed;
  bottom: 70px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}

.b-up-arrow:hover {
  opacity: 1;
  background: #000000 !important;
  transition: all 0.3s ease-in;
}

.b-up-arrow:after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid;
  border-right: 2px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.b-up-arrow_pos_right {
  right: 36px;
}

.inner {
  width: 1170px;
  padding: 1px;
}

h1 {
  margin: 0;
  font-family: "Raleway Bold", sans-serif;
  font-size: 60px;
  color: #262626;
}

p {
  margin: 18px 0 0;
  font-family: "Raleway Light", sans-serif;
  font-size: 17px;
  color: #262626;
  line-height: 1.7;
}

body {
  margin: 0;
}

main {
  height: 100%;
}

header {
  height: 100vh;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  background: #f9f8fb url("../img/s1-bg.jpg") no-repeat fixed center top;
  background-size: cover;
  height: 100%;
}
.header nav {
  display: inline-block;
  vertical-align: middle;
}
.header nav a {
  display: inline-block;
  vertical-align: middle;
  font-family: "Raleway Bold", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 37px;
  font-size: 16px;
  color: #262626;
  cursor: pointer;
}
.header nav a:after {
  background-color: #ff6033;
  display: block;
  position: relative;
  content: "";
  height: 3px;
  width: 0;
  top: -25px;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.header nav a:hover:after, .header nav a:focus:after {
  width: 100%;
}
.header nav a:nth-child(1) {
  margin-left: 0;
}
.header .btn {
  margin: 31px 0 0;
  background: #ff6033;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  font-family: "Raleway Light", sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.25), 0 6px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s ease-in;
}
.header .btn:hover {
  background: #da4b28;
  box-shadow: none;
  transition: all 0.3s ease-in;
}
.header .inner {
  height: 100%;
  position: relative;
}
.header .menu {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .content {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  max-width: 370px;
  min-height: 258px;
  margin: auto;
}
.header .scroll {
  width: 24px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 69px;
}
.header .scroll a svg:hover #scroll {
  fill: #ff6033;
}
.header h1 {
  font-family: "Raleway Heavy", sans-serif;
}

.s2 {
  background: url("../img/s2-bg.jpg") no-repeat center;
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 700px;
  height: 100vh;
}
.s2 .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.s2 .s2-content {
  max-width: 501px;
  min-height: 283px;
  position: absolute;
  top: 39%;
  bottom: 50%;
  left: 56%;
  margin: auto;
}
.s2 h1 {
  font-family: "Raleway Bold", sans-serif;
  color: #ffffff;
  font-size: 90px;
}
.s2 p {
  color: #ffffff;
  font-size: 17px;
}

.s3 {
  background: url("../img/s3-bg.jpg") no-repeat right center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 790px;
  height: 100vh;
}
.s3 .inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.s3 .s3-content {
  display: flex;
  align-items: center;
}
.s3 .buttons {
  width: 400px;
}
.s3 .buttons a {
  position: relative;
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background: #ffffff;
  color: #262626;
  text-decoration: none;
  font-family: "Raleway Bold", sans-serif;
  font-size: 20px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.25), 0 6px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s ease-in;
}
.s3 .buttons a:hover {
  background: #ff6033;
  color: #ffffff;
  box-shadow: none;
  transition: all 0.3s ease-in;
}
.s3 .buttons .btn-text {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid #9d9d9d;
}
.s3 .buttons .btn-img {
  position: absolute;
  right: 27px;
  top: 27px;
}
.s3 h1 {
  position: absolute;
  color: #ffffff;
  font-size: 90px;
  top: 39%;
  right: 12%;
}

.s4 {
  background: url("../img/s4-bg.jpg") no-repeat left top;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 1536px;
  height: 100vh;
}
.s4 .inner {
  height: 100%;
}

.s5 {
  background: url("../img/s5-bg.jpg") no-repeat right center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 500px;
  height: 100vh;
}
.s5 .inner {
  height: 100%;
}

.s6 {
  background: url("../img/s6-bg.jpg") no-repeat left top;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 864px;
  height: 100vh;
}
.s6 .inner {
  height: 100%;
}

.s7 {
  background: url("../img/s7-bg.jpg") no-repeat center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 866px;
  height: 100vh;
}
.s7 .inner {
  height: 100%;
}

footer {
  background: #262626;
  display: flex;
  justify-content: center;
  height: 90px;
}
footer .inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-family: "Raleway Light", sans-serif;
  font-size: 16px;
  color: #b9b9b9;
}
footer p:nth-child(2) {
  font-size: 15px;
}
footer p span {
  color: #ff2b58;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
