@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900|Roboto:300,400,700,900');
* {
    padding:          0;
    margin:           0;
    border:           0;
    font-size:        18px;
    color:            #303030;
    background-color: transparent;
    text-decoration:  none;
    list-style-type:  none;
    transition:       all .1s ease-in;
    font-family:      Raleway, sans-serif;
    font-weight:      400;
    -webkit-box-sizing:       border-box;
    -moz-box-sizing:       border-box;
    box-sizing:       border-box;
}
body {
    background: #f0f1f2;
    font-family: Arial, sans-serif;
}
.inner {
    width: 1140px;
    margin: 0 auto;
}
header {
    line-height: 100px;
    height: 100px;
}

header .logo {
    font-size: 50px;
    color: #303030;
    font-weight: bold;
}

header nav {
    float: right;
}
header ul {
    margin: 0;
    padding: 0;
}
header li {
    display: inline-block;
    margin-left: 35px;
}
main .inner {
    background: url("../img/headphones.png") top right no-repeat;
    background-size: 70%;
}
.s1 {
    font-family: Roboto, sans-serif;
}
.s1 > div {
    width: 50%;
    text-align: right;
}
.s1 h1 {
    font-size: 130px;
    margin: 50px 0 0;
    color: #303030;
    font-weight: bold;
}
.s1 .slider {
    padding: 90px 12px;
}
.slider .sl1, .sl2, .sl3 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #303030;
    border-radius: 50%;
    margin-left: 9px;
}
.slider .sl1 {
    background: #e10011;
}
.s2 {
    height: 1100px;
    background: #ffffff;
    padding-top: 1px;
    font-family: Roboto, sans-serif;
}
.s2 .s2-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    color: #303030;
}
.s2 h2 {
    padding-top: 100px;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: bold;
}
.s2 .s2-text img {
    padding-top: 5px;
}
.img {
    margin: 70px auto;
    width: 86%;
    height: 65%;
}

.img .img-1 {
    width: 65.67%;
    height: 48%;
    float: left;
    border-radius: 5px;
    background: url("../img/speaker-pill-white-standard-thrqrtleft.jpg") top right no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.img .img-2 {
    display: inline-block;
    float: right;
    width: 31.33%;
    height: 48%;
    border-radius: 5px;
    background: url("../img/beats-by-dre-studio-red-highdefinition-headphones.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}
.img .img-3 {
    display: inline-block;
    float: left;
    width: 31.33%;
    height: 47.3%;
    border-radius: 5px;
    margin-top: 3%;
    background: url("../img/layer_1.jpg"), url("../img/layer_2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}
.img .img-4 {
    display: inline-block;
    float: left;
    width: 31.33%;
    height: 47.3%;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 3%;
    background: url("../img/casual-shoes-for-men-2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}
.img .img-5 {
    display: inline-block;
    float: right;
    width: 31.33%;
    height: 47.3%;
    border-radius: 5px;
    margin-top: 3%;
    background: url("../img/tumblr_nko8p7po0T1qddxjwo3_1280.jpg");
    -webkit-background-size: cover;
    background-size: cover;

}
.img-1:hover,
.img-2:hover,
.img-4:hover,
.img-5:hover {
    background: #E10012;
    cursor: pointer;
    transition: all .5s ease-in;
}
.img-3:hover {
    background: url("../img/layer_2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    transition: all .5s ease-in;
}
.s3 {
    height: 380px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}
.s3 .s3-text {
    text-align: center;
    width: 60%;
    color: #303030;
    margin: 0 auto;
    padding-top: 35px;
}
.s3 h2 {
    padding-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.s3 .form {
    text-align: center;
    font-size: 0;
}
input[type=email] {
    width: 500px;
    height: 73px;
    margin: -4px;
    padding: 25px 30px;
    border-radius: 36px 0 0 36px;
    color: #989898;
    font-style: italic;
    font-weight: 600;
    background: #ffffff;
}
input[type=submit] {
    width: 210px;
    height: 73px;
    padding: 25px 55px;
    border-radius: 0 36px 36px 0;
    background: #b20011;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease-in;
}
input[type=submit]:hover {
    background: #ff0012;
}
label {
    background: url("../img/letter.png") no-repeat center left;
    padding-left: 41px;
}

section > div > a {
    text-decoration: none;
    color: #E10010;
    font-weight: bold;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #303030;
    font-size: 18px;
    transition: all .3s ease-in;
}
a:hover {
    color: #c10011;
    text-shadow: 0 0 1px #c10011;
}
p {
    color: #303030;
    line-height: 1.4;
    font-size: 20px;
    margin: 0 0 25px;
}
.f1 {
    height: 35px;
    color: #aeaeae;
    text-align: center;
    margin-top: 30px;
}
.f1 span {
    color: #303030;
}
footer {
    text-align: center;
}
footer a {
    margin-left: 15px;
}
footer a > img {
    margin-top: 60px;
    -webkit-transform: translate3d(0,-50%,0) scale(1);
    transform: translate3d(0,-50%,0) scale(1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
footer a > img:hover {
    -webkit-transform: translate3d(0,-50%,0) scale(1.2);
    transform: translate3d(0,-50%,0) scale(1.2);
}
footer .f1 {
    color: #aeaeae;
}