@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../fonts/NotoSans-Bold.woff2') format('woff2'),
  url('../fonts/NotoSans-Bold.woff') format('woff'),
  url('../fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Light';
  src: url('../fonts/NotoSans-Light.woff2') format('woff2'),
  url('../fonts/NotoSans-Light.woff') format('woff'),
  url('../fonts/NotoSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Medium';
  src: url('../fonts/NotoSans-Medium.woff2') format('woff2'),
  url('../fonts/NotoSans-Medium.woff') format('woff'),
  url('../fonts/NotoSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../fonts/NotoSans-Regular.woff2') format('woff2'),
  url('../fonts/NotoSans-Regular.woff') format('woff'),
  url('../fonts/NotoSans-Regular.ttf') format('tryetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-SemiBold';
  src: url('../fonts/NotoSans-SemiBold.woff2') format('woff2'),
  url('../fonts/NotoSans-SemiBold.woff') format('woff'),
  url('../fonts/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
  url('../fonts/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
  url('../fonts/Poppins-Bold.woff') format('woff'),
  url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter-Regular.woff') format('woff'),
  url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #F8F8F8;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

h1 {
  font-family: 'NotoSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 68.1px;
}

h2 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
}

h3 {
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
}

h4 {
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 34.05px;
}

h5 {
  font-family: 'NotoSans-Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27.24px;
}

h6 {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 23.15px;
}

p {
  font-family: 'Montserrat Regular',sans-serif;
  margin: 0;
  font-size: 15px;
  color: #8c8c8c;
  line-height: 1.3;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  visibility: hidden;
}

header {
  width: 100vh;
  height: 100vh;
  font-family: 'NotoSans-Bold', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  &.header {
    position: relative;
    background: url("../images/header-bg.jpg") no-repeat right center;
    background-size: cover;
    width: 100%;
    min-height: 686px;
  }

  & .header-text {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & h1 {
    margin-bottom: 32px;
    color: #F8F8F8;
  }

  & p {
    margin-bottom: 72px;
    color: #F8F8F8;
  }
}

a.nav-link {
  color: #F8F8F8;
  transition: all 0.15s ease-in;
}

.instagram-menu, .facebook-menu {
  transition: all 0.15s ease-in;
}

.instagram-menu:hover, .facebook-menu:hover {
  fill: #DF4E3C;
  transition: all 0.15s ease-in;
}

.navbar {
  min-height: 72px;
  color: #F8F8F8;
  background: #000000;
  transition: all 0.15s ease-in;
}

.navbar-dark .navbar-nav .nav-link {
  color: #F8F8F8;

  &.active {
    color: #DF4E3C;
  }

  &:focus, &:hover {
    color: #DF4E3C;
    transition: all 0.15s ease-in;
  }
}

.nav-item {
  padding-right: 40px;
}

.navbar-nav li:last-child {
  padding-right: 0;
}

.btn-link {
  font-family: 'NotoSans-Medium', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.43px;
  width: 100%;
  height: 48px;
  color: #F8F8F8;
  background: #DF4E3C;
  border: 2px solid #DF4E3C;
  border-radius: 15px;
  text-decoration: none;
  transition: all 0.15s ease-in;

  &:hover {
    color: #DF4E3C;
    background: #F8F8F8;
    border: 2px solid #DF4E3C;
    border-radius: 15px;
    box-shadow: none;
    box-sizing: border-box;
    transition: all 0.15s ease-in;
  }
}

.btn-outline-dark {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27.24px;
  width: 296px;
  color: #F8F8F8;
  border: 2px solid #F8F8F8;
  border-radius: 15px;
  transition: all 0.15s ease-in;

  &:hover {
    color: #000000;
    background: #F8F8F8;
    border: 2px solid #F8F8F8;
    border-radius: 15px;
    box-shadow: none;
    box-sizing: border-box;
    transition: all 0.15s ease-in;
  }
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.btn-outline-dark {
  &.disabled, &:disabled {
    color: #F8F8F8;
    background-color: transparent;
  }
}

.btn-check:focus + .btn-outline-dark, .btn-outline-dark:focus {
  box-shadow: 0 0 0 0.25rem rgb(33 37 41 / 0%);
  background: #FFFFFF;
  color: #000000;
}

.mycol {
  width: 170px;
  height: 48px;
  border-radius: 15px;
  background: #000000;
  color: #ffffff;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.mycol2 {
  width: 290px;
  height: 48px;
  background: #000000;
  color: #ffffff;
  border-radius: 15px;
}

.col-sm-2 {
  padding-right: calc(var(--bs-gutter-x)/ 3);
}

.form {
  padding-bottom: 28px;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
}

.form-control {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 15px;
  line-height: 20.43px;
  height: 48px;
  margin-top: 15px;
  padding: 0 43px 0 16px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 15px;
  cursor: pointer;
  box-sizing: border-box;

  &:focus {
    border: 1px solid #DF4E3C;
    box-sizing: border-box;
    border-radius: 15px;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
  }
}

.form-check {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27.24px;
  display: flex;

  label {
    font-family: 'NotoSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
    color: #8D8D8D;
    margin: 5px 0 0 8px;
    cursor: pointer;
  }

  .form-check-input[type=checkbox] {
    height: 16px;
    width: 16px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
  }
}

.form-check-input {
  border: 1px solid #8D8D8D;

  &:checked {
    background: #DF4E3C;
    border: 2px solid #DF4E3C;

    + label {
      color: #DF4E3C;
    }
  }
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  color: #8D8D8D;
  margin-bottom: 10px;
}

.right {
  color: #000000;
  margin-right: -2em;

  span {
    padding-left: 0;
    color: #8D8D8D;
  }

  img {
    padding-left: 21px;
  }
}

.select {
  position: relative;
  display: block;
  width: 170px;
  margin-bottom: 20px;
  box-sizing: content-box;
}

.select__head {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 11.5px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 48px;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.04);
  border: 1px solid #BDBDBD;
  border-radius: 15px;
  padding: 13px 43px 12px 16px;
  color: #000000;
  background: #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;

  &:focus {
    border: 1px solid #DF4E3C;
    box-sizing: border-box;
    outline: 0;
  }

  &::after {
    width: 13px;
    height: 7.4px;
    background: #FFFFFF url('../images/expand_more.svg') no-repeat (center / cover);
    position: absolute;
    right: 26px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
  }

  &.open::after {
    transform: translateY(50%) rotate(180deg);
  }
}

.select__list {
  display: none;
  position: absolute;
  top: 36px;
  left: 12px;
  right: 12px;
  background: #FFFFFF;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.04);
  border-radius: 0 0 15px 15px;
  border: 1px solid #C4C4C4;
  border-top: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #424348;
  box-sizing: border-box;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #FFFFFF;
  }

  .select__item {
    position: relative;
    padding: 16px 16px 0;
    cursor: pointer;
    list-style-type: none;

    &:hover {
      color: #DF4E3C;
    }
  }
}

#right {
  label {
    display: inline-block;
    width: auto;
    padding: 0;
  }

  .select {
    width: 191px;
    margin-bottom: 0;
  }

  .select__head {
    font-family: 'NotoSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
    padding: 0;
    height: 48px;
    box-shadow: none;
    border: 0;
    border-radius: 15px;
    color: #8D8D8D;
    background: #F8F8F8;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;

    &:focus {
      border: 1px solid #DF4E3C;
      box-sizing: border-box;
      outline: 0;
    }

    &::after {
      background: none;
      position: relative;
    }
  }

  .select__list {
    height: 208px;
    box-shadow: none;
    left: 0;
    background: #FFFFFF;
    border-radius: 15px;
    border: 0;
    font-size: 12px;
    color: #000000;

    &::-webkit-scrollbar {
      width: 7px;
      background-color: #F8F9FA;
      padding: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background-color: #FFFFFF;
    }

    .select__item {
      position: relative;
      padding: 12px 12px 0;
      cursor: pointer;
      list-style-type: none;

      &:hover {
        color: #DF4E3C;
      }
    }
  }
}

.main {
  margin: 0;
  padding: 0;
  background: #F8F8F8;
}

section {
  padding: 0;

  &.faq {
    margin-bottom: 200px;
  }

  h1 {
    padding: 98px 0 65px 0;
    color: #AEAEAE;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
  }
}

.cards {
  float: left;
  padding-right: 20px;
  min-width: 295px;
}

.card {
  min-height: 366px;
  border: none;
  border-radius: 0;
}

.card-deck .card {
  &:first-child {
    margin-left: 0;
  }

  margin-bottom: 20px;
}

.card-body {
  margin: 20px 20px 0;
  padding: 0;

  > p {
    font-family: 'NotoSans-Bold',sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8D8D8D;
    height: 19px;
    overflow: hidden;

    &:last-child {
      font-family: 'NotoSans-Bold',sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 27.24px;
      color: #000000;
      margin: 26px 0 35px 0;
    }
  }

  h4 {
    font-family: 'NotoSans-SemiBold', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23.15px;
    color: #000000;
    height: 23px;
    overflow: hidden;

    > span {
      font-family: 'NotoSans-Light', sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 25.5px;
      margin-right: 8px;
      color: #8D8D8D;
    }
  }

  > p > span {
    font-family: 'NotoSans-Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19.07px;
  }
}

.card-title, .card-text {
  margin-bottom: 16px;
}

.subscribe {
  min-height: 18vh;
  padding: 20px;
  background: #000000;
  color: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
  & h4 {
    color: #F8F8F8;
  }

  & p {
    font-family: 'NotoSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20.43px;
    color: #F8F8F8;
  }

  .subscribe-text {
    max-width: 429px;
  }
}

.subscribe-wrapper {
  overflow: hidden;
}

.mb-15 {
  margin-bottom: 15px;
}

.subscribe-form {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.43px;
  color: #000000;
}

.subscribe2-wrapper .subscribe-form {
  input {
    font-family: 'NotoSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20.43px;
    background: #000000;
    border: 1px solid #BDBDBD;
    border-radius: 15px;
    color: #8D8D8D;
    display: inline-block;
    width: 505px;
    height: 54px;
    margin: 0 20px 0 95px;
    cursor: text;
    caret-color: #FFFFFF;
    transition: all 0.15s ease-in;

    &:focus {
      transition: all 0.15s ease-in;
    }

    &::placeholder {
      color: #FFFFFF;
      transition: all 0.15s ease-in;
    }

    &:focus::placeholder {
      color: #8D8D8D;
      transition: all 0.15s ease-in;
    }
  }

  button {
    &.btn {
      padding: 0;
      text-align: center;
    }

    font-family: 'NotoSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20.43px;
    background: #F8F8F8;
    color: #000000;
    width: 190px;
    border-radius: 15px;
    display: inline-block;
    margin-left: 20px;
    padding: 18px 46px;
    height: 54px;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #FFFFFF;
      background: #000000;
      border: 2px solid #F8F8F8;
      transition: all 0.15s ease-in;
      box-shadow: none;
    }
  }
}

.subscribe-form .btn {
  padding: 13px 16px 12px;
  text-align: left;
}

.subscribe2-wrapper .subscribe-form button i {
  font-size: 18px;
  padding-left: 5px;
}

.valid-feedback {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 26px;
  width: inherit;
  margin-top: 0.25rem;
  color: #507A36;
}

.invalid-feedback {
  font-family: 'Inter-Regular', sans-serif;
  width: inherit;
  border-radius: 15px;
  margin-top: 0.25rem;
  font-size: 10px;
  color: #DF4E3C;
  line-height: 26px;
}

.form-control.is-valid, .was-validated .form-control:valid {
  border: 1px solid #507A36;
  background-image: url('../images/valid.svg');
  box-sizing: border-box;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border: 1px solid #DF4E3C;
  background-image: url('../images/invalid.svg');
  box-sizing: border-box;
}

:valid ~ .valid-feedback, :invalid ~ .invalid-feedback {
  position: absolute;
  left: 30px;
  bottom: -10%;
}

.hide_make {
  display: none;
}

.product-card {
  margin: 0 0 20px;
  box-shadow: 0 0 18px rgba(68, 68, 68, 0.09);

  &.unavailable {
    .product-details {
      opacity: 0.5;
    }

    img {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
    }

    .img-wrap {
      position: relative;
      overflow: hidden;

      h1 {
        position: absolute;
        left: 0;
        bottom: 27%;
        width: 100%;
        color: #fff;
        padding: 0;
      }
    }
  }

  &.new .img-wrap {
    position: relative;
    overflow: hidden;

    .rectangle {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 66.5px;
      height: 24px;
      background: #000;
      border-radius: 0 50px 50px 0;

      h2 {
        font-family: 'Poppins-Regular', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        display: flex;
        justify-content: center;
        padding-top: 3px;
      }
    }
  }

  .rectangle {
    display: none;
  }

  &.new .rectangle {
    display: block;
  }
}

.product-thumb img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
}

.product-details {
  padding: 20px;

  h6 {
    height: 23px;
    overflow: hidden;
    margin-bottom: 1em;

    > span {
      font-family: 'Poppins-Regular', sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 25.5px;
      margin-right: 8px;
      color: #8d8d8d;
      height: 26px;
      overflow: hidden;
      transition: all 0.15s ease-in;
    }
  }

  p {
    font-family: 'NotoSans-Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8d8d8d;
    height: 19px;
    overflow: hidden;
    margin-bottom: 1.625em;
    line-height: 19.07px;
  }
}

.product-bottom-details {
  overflow: hidden;
}

.product-price {
  font-size: 18px;
  color: #ee6e73;
  font-weight: 600;

  span {
    font-family: 'NotoSans-Medium', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 27.24px;
    color: #000;
    height: 27px;
  }
}

.product-details a {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #000;
  height: 19px;
  text-decoration-line: none;
  overflow: hidden;
  line-height: 23.15px;
  border-bottom: 2px solid currentColor;
}

.product-card {
  &:hover a {
    text-decoration-line: underline;
  }

  h1 {
    display: none;
  }

  &.unavailable h1 {
    display: block;
  }
}

.accordion {
  max-width: 51.25em;
  margin: 0 auto;

  .card .btn-link {
    text-decoration: underline;
  }
}

.accordion-flush {
  .accordion-collapse {
    box-shadow: 0 0 18px 0 rgb(68 68 68 / 9%);
  }

  border: none;

  .accordion-item .accordion-button {
    border: none;
  }
}

.accordion-item {
  border-bottom: 1px solid #C4C4C4;
}

.accordion-button {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20.43px;
  color: #000000;
  background-color: #F8F8F8;
  border-bottom: 1px solid #C4C4C4;
  transition: all 0.15s ease-in;

  &:focus {
    border: 0;
    transition: all 0.15s ease-in;
  }

  &:not(.collapsed) {
    font-family: 'NotoSans-Regular', sans-serif;
    font-weight: 700;
    color: #DF4E3C;
    background-color: #fff;
    padding: 24px 34px 0 39px;
    transition: all 0.15s ease-in;
    box-shadow: none;

    &::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='red' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
      transition: all 0.15s ease-in;
    }
  }

  &::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(0.7) !important;
    transition: all 0.15s ease-in;
  }

  &:focus {
    box-shadow: none;
  }
}

.accordion-collapse {
  border: 0;
}

.accordion-body {
  font-family: 'NotoSans-Light',sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 39px;
  color: #000000;

  p {
    line-height: 19.5px;
    margin-bottom: 8px;
  }
}

.red{
  color: red !important;
}

footer {
  background-color: #000;
  padding: 37px 0 39px 0;
  min-height: 121px;
  font-family: "NotoSans-Medium", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20.43px;

  .footer-list ul {
    padding: 10px 0 0;

    li {
      list-style: none;
      float: left;
      padding: 0 40px 0 0;

      &:first-child {
        padding-left: 0;
      }

      a {
        height: 20px;
        font-size: 15px;
        color: #f8f8f8;
        text-decoration: none;
        transition: all 0.15s ease-in;

        &:hover {
          color: #df4e3c;
          transition: all 0.15s ease-in;
        }

        &:focus {
          color: #df4e3c;
        }
      }
    }
  }

  .footer-right ul {
    padding-left: 0;

    li {
      list-style: none;
      float: left;
      margin: 0 3% 2% 0;
      width: 31%;
      position: relative;

      &:nth-child(3n) {
        margin: 0 0 1%;
      }
    }
  }
}

.row {
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  .mix, .gap {
    display: inline-block;
    width: 49%;
  }

  .mix {
    text-align: left;
    background: #03899c;
    margin-bottom: 2%;
    display: none;

    &.category-1 {
      border-top: 2px solid limegreen;
    }

    &.category-2 {
      border-top: 2px solid yellow;
    }

    &:after {
      content: attr(data-myorder);
      color: white;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding: 4% 6%;
      font-weight: 700;
    }

    &:before {
      content: '';
      display: inline-block;
      padding-top: 60%;
    }
  }
}

@media all and (min-width: 420px) {
  .row {
    .mix, .gap {
      width: 32%;
    }
  }
}

@media (min-width: 576px) {
  .card-deck .card {
    min-height: 0;
    margin-right: 0;
    margin-left: 15px;
    background: #FFFFFF;
    box-shadow: 0 0 18px rgba(68, 68, 68, 0.09);
  }

  .col-sm-6 {
    float: left;
    padding-right: 20px;
  }
}

@media all and (min-width: 640px) {
  .row {
    .mix, .gap {
      width: 23.5%;
    }
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    background: transparent;
    transition: all 0.15s ease-in;
  }
}

@media (min-width: 1400px) {
  .col-lg-2 {
    flex: 0 1 170px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 575px) {
  .cards {
    width: 100%;
  }
}

@media (max-width: 767px) {
  :invalid ~ .invalid-feedback {
    bottom: -35% !important;
  }
}

@media (max-width: 991px) {
  .col-md-6 li a {
    font-size: 14px !important;
  }

  .form-group {
    max-width: 100%;
    margin: 0 5px 5px 0;
  }

  :invalid ~ .invalid-feedback {
    bottom: 14% !important;
  }
}

@media (max-width: 1199px) {
  :invalid ~ .invalid-feedback {
    bottom: 8% !important;
  }
}

@media (max-width: 1399px) {
  .cards {
    min-width: 0;
  }
}