@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../fonts/NotoSans-Bold.woff2') format('woff2'),
  url('../fonts/NotoSans-Bold.woff') format('woff'),
  url('../fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Light';
  src: url('../fonts/NotoSans-Light.woff2') format('woff2'),
  url('../fonts/NotoSans-Light.woff') format('woff'),
  url('../fonts/NotoSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Medium';
  src: url('../fonts/NotoSans-Medium.woff2') format('woff2'),
  url('../fonts/NotoSans-Medium.woff') format('woff'),
  url('../fonts/NotoSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../fonts/NotoSans-Regular.woff2') format('woff2'),
  url('../fonts/NotoSans-Regular.woff') format('woff'),
  url('../fonts/NotoSans-Regular.ttf') format('tryetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-SemiBold';
  src: url('../fonts/NotoSans-SemiBold.woff2') format('woff2'),
  url('../fonts/NotoSans-SemiBold.woff') format('woff'),
  url('../fonts/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
  url('../fonts/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
  url('../fonts/Poppins-Bold.woff') format('woff'),
  url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter-Regular.woff') format('woff'),
  url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #F8F8F8;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

h1 {
  font-family: 'NotoSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 68.1px;
}

h2 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
}

h3 {
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
}

h4 {
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 34.05px;
}

h5 {
  font-family: 'NotoSans-Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27.24px;
}

h6 {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 23.15px;
}

p {
  font-family: 'Montserrat Regular',sans-serif;
  margin: 0;
  font-size: 15px;
  color: #8c8c8c;
  line-height: 1.3;
}

header {
  width: 100vh;
  height: 100vh;
  font-family: 'NotoSans-Bold', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.header {
  position: relative;
  background: url("../images/header-bg.jpg") no-repeat right center;
  background-size: cover;
  width: 100%;
  min-height: 686px;
  height: 100vh;
}

.header .header-text {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin-bottom: 32px;
  color: #F8F8F8;
}

.header p {
  margin-bottom: 72px;
  color: #F8F8F8;
}

a.nav-link {
  color: #F8F8F8;
  transition: all 0.15s ease-in;
}

.instagram-menu, .facebook-menu {
  transition: all 0.15s ease-in;
}

.instagram-menu:hover, .facebook-menu:hover {
  fill: #DF4E3C;
  transition: all 0.15s ease-in;
}

.navbar {
  min-height: 72px;
  color: #F8F8F8;
  background: #000000;
  transition: all 0.15s ease-in;
}

@media (min-width: 768px) {
  .navbar-expand-md {
    background: transparent;
    transition: all 0.15s ease-in;
  }
}

.nav-item {
  padding-right: 40px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #F8F8F8;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #DF4E3C;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #DF4E3C;
  transition: all 0.15s ease-in;
}

.navbar-nav li:last-child {
  padding-right: 0;
}

.btn-link {
  font-family: 'NotoSans-Medium', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.43px;
  //margin-top: 15px;
  width: 296px;
  //width: 100%;
  height: 48px;
  color: #F8F8F8;
  background: #DF4E3C;
  border: 2px solid #DF4E3C;
  border-radius: 15px;
  text-decoration: none;
  transition: all 0.15s ease-in;
}

.btn-link:hover {
  color: #DF4E3C;
  background: #F8F8F8;
  border: 2px solid #DF4E3C;
  border-radius: 15px;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.15s ease-in;
}

.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #F8F8F8;;
  background-color: transparent;
}

.btn-outline-dark {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27.24px;
  width: 296px;
  color: #F8F8F8;
  border: 2px solid #F8F8F8;
  border-radius: 15px;
  transition: all 0.15s ease-in;
}

.btn-outline-dark:hover {
  color: #000000;
  background: #F8F8F8;
  border: 2px solid #F8F8F8;
  border-radius: 15px;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.15s ease-in;
}

.btn-check:focus+.btn-outline-dark, .btn-outline-dark:focus {
  box-shadow: 0 0 0 0.25rem rgb(33 37 41 / 0%);
  background: #FFFFFF;
  color: #000000;
}



/* Form-control */

.form-group option {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  cursor: pointer;
}

.form-group {
  max-width: 170px;
}

.mycol {
  width: 170px;
  height: 48px;
  border-radius: 15px;
  background: #000000;
  color: #ffffff;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.mycol2 {
  width: 290px;
  height: 48px;
  background: #000000;
  color: #ffffff;
  border-radius: 15px;
}


@media (min-width: 1400px) {
  .col-lg-2 {
    flex: 0 1 170px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form {
  padding-bottom: 28px;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
}

.col-sm-2 {
  padding-right: calc(var(--bs-gutter-x)/ 3);
}


@media (max-width: 991px) {
  .form-group {
    max-width: 100%;
    margin: 0 5px 5px 0;
  }
}

//@media (max-width: 767px) {
//  .form-group {
//    max-width: 0;
//  }
//}

.form-control {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 15px;
  line-height: 20.43px;
  height: 48px;
  margin-top: 15px;
  padding: 0 43px 0 16px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.form-control:focus {
  border: 1px solid #DF4E3C;
  box-sizing: border-box;
  border-radius: 15px;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.form-group select:checked {
  border-radius: 15px;
}

.form-check {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27.24px;
  display: flex;
  //padding-bottom: 23px;
}
.form-check label {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  color: #8D8D8D;
  margin: 5px 0 0 8px;
  cursor: pointer;
}
.form-check .form-check-input[type=checkbox] {
  height: 16px;
  width: 16px;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.form-check-input {
  border: 1px solid #8D8D8D;
}

.form-check-input:checked {
  background: #DF4E3C;
  border: 2px solid #DF4E3C;
}

.form-check-input:checked + label {
  color: #DF4E3C;
}

//.form-check-input:checked[type=checkbox] {
//  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e);
//}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  color: #8D8D8D;
  margin-bottom: 20px;
}

.right {
  color: #000000;
}

.right span {
  padding-left: 8px;
  color: #8D8D8D;
}

.right img {
  padding-left: 16px;
}


/*--------------------------------------------*/
.select {
  position: relative;
  display: block;
  //min-width: 220px;
  width: 170px;
  //max-width: 400px;
  margin-bottom: 20px;
  //padding: 0;
  box-sizing: content-box;
}

.select__head {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 11.5px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 48px;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.04);
  border: 1px solid #BDBDBD;
  border-radius: 15px;
  padding: 13px 43px 12px 16px;
  color: #000000;
  background: #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}

.select__head:focus {
  border: 1px solid #DF4E3C;
  box-sizing: border-box;
  outline: 0;
}

.select__head::after {
  width: 13px;
  height: 7.4px;
  background: #FFFFFF url('../images/expand_more.svg') no-repeat center / cover;
  position: absolute;
  right: 26px;
  bottom: 50%;
  transform: translateY(50%);
  content: '';
  display: block;
  transition: .2s ease-in;
}

.select__head.open::after {
  transform: translateY(50%) rotate(180deg);
}

.select__list {
  display: none;
  position: absolute;
  top: 36px;
  left: 12px;
  right: 12px;
  background: #FFFFFF;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.04);
  border-radius: 0 0 15px 15px;
  border: 1px solid #C4C4C4;
  border-top: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #424348;
  box-sizing: border-box;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}

//.select__item:hover {
//  color: #DF4E3C;
//  background: #FFFFFF;
//}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #F8F9FA;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #FFFFFF;
}

.select__list .select__item {
  position: relative;
  padding: 16px 16px 0;
  cursor: pointer;
  list-style-type: none;
}

.select__list .select__item:hover {
  color: #DF4E3C;
}
/*--------------------------------------------*/





.main {
  margin: 0;
  padding: 0;
  background: #F8F8F8;
}

section h1 {
  padding: 98px 0 65px 0;
  color: #AEAEAE;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
}

.card {
  min-height: 366px;
  border: none;
  border-radius: 0;
}

.card-deck .card:first-child {
  margin-left: 0;
}

.card-deck .card {
  margin-bottom: 20px;
}

.card-body {
  margin: 20px 20px 0;
  padding: 0;
}

.card-body > p {
  font-family: 'NotoSans-Bold',sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #8D8D8D;
  height: 19px;
  overflow: hidden;
}

.card-body > p:last-child {
  font-family: 'NotoSans-Bold',sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27.24px;
  color: #000000;
  margin: 26px 0 35px 0;
}

.card-body h4 {
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 23.15px;
  color: #000000;
  height: 23px;
  overflow: hidden;
}

.card-body h4 > span {
  font-family: 'NotoSans-Light', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25.5px;
  margin-right: 8px;
  color: #8D8D8D;
}

.card-body > p > span {
  font-family: 'NotoSans-Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19.07px;
}

.card-title {
  margin-bottom: 16px;
}

.card-text {
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .card-deck .card {
    min-height: 0;
    margin-right: 0;
    margin-left: 15px;
    background: #FFFFFF;
    box-shadow: 0 0 18px rgba(68, 68, 68, 0.09);
  }
}

section {
  padding: 0;
}

/* Subscribe */
.subscribe {
  min-height: 18vh;
  padding: 20px;
  background: #000000;
  color: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
  & h4 {
    color: #F8F8F8;
  }

  & p {
    font-family: 'NotoSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20.43px;
    color: #F8F8F8;
  }

  .subscribe-text {
    max-width: 429px;
  }
}

.subscribe-wrapper {
  overflow: hidden;
}
.mb-15 {
  margin-bottom: 15px;
}
.subscribe-form {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.43px;
  color: #000000;
}
.subscribe2-wrapper .subscribe-form input {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.43px;
  background: #000000;
  border: 1px solid #BDBDBD;
  border-radius: 15px;
  color: #8D8D8D;
  display: inline-block;
  width: 505px;
  height: 54px;
  margin: 0 20px 0 95px;
  cursor: text;
  caret-color: #FFFFFF;
  transition: all 0.15s ease-in;
}

.subscribe2-wrapper .subscribe-form input:focus {
  transition: all 0.15s ease-in;
}

.subscribe2-wrapper .subscribe-form input::placeholder {
  color: #FFFFFF;
  transition: all 0.15s ease-in;
}

.subscribe2-wrapper .subscribe-form input:focus::placeholder {
  color: #8D8D8D;
  transition: all 0.15s ease-in;
}

.subscribe2-wrapper .subscribe-form button.btn {
  padding: 0;
  text-align: center;
}

.subscribe2-wrapper .subscribe-form button {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.43px;
  background: #F8F8F8;
  color: #000000;
  width: 190px;
  border-radius: 15px;
  display: inline-block;
  margin-left: 20px;
  padding: 18px 46px;
  height: 54px;
  transition: all 0.3s ease 0s;

  &:hover {
    color: #FFFFFF;
    background: #000000;
    border: 2px solid #F8F8F8;
    transition: all 0.15s ease-in;
    box-shadow: none;
  }
}

.subscribe-form .btn {
  padding: 13px 16px 12px;
  text-align: left;
}

.subscribe2-wrapper .subscribe-form button i {
  font-size: 18px;
  padding-left: 5px;
}

/* Valid/invalid feedback */
@media (max-width: 1199px) {
  :invalid ~ .invalid-feedback {
    bottom: 8% !important;
  }
}

@media (max-width: 991px) {
  :invalid ~ .invalid-feedback {
    bottom: 14% !important;
  }
}

@media (max-width: 767px) {
  :invalid ~ .invalid-feedback {
    bottom: -35% !important;
  }
}

.valid-feedback {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 26px;
  width: inherit;
  margin-top: 0.25rem;
  color: #507A36;
}

.invalid-feedback {
  font-family: 'Inter-Regular', sans-serif;
  width: inherit;
  border-radius: 15px;
  margin-top: 0.25rem;
  font-size: 10px;
  color: #DF4E3C;
  line-height: 26px
}

.form-control.is-valid, .was-validated .form-control:valid {
  border: 1px solid #507A36;
  background-image: url('../images/valid.svg');
  box-sizing: border-box;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border: 1px solid #DF4E3C;
  background-image: url('../images/invalid.svg');
  box-sizing: border-box;
}

:valid~.valid-feedback {
  position: absolute;
  left: 30px;
  bottom: -10%;
}

:invalid~.invalid-feedback {
  position: absolute;
  left: 30px;
  bottom: -10%;
}
/* Valid/invalid feedback */

section.faq {
  margin-bottom: 200px;
}

/* Product card */
.product-card {
  margin: 0 0 20px;
  box-shadow: 0 0 18px rgba(68, 68, 68, 0.09);
}

.product-card.unavailable .product-details {
  opacity: .5;
}

.product-card.unavailable img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

//.product-card.unavailable .product-details a:hover {
//  color: #DF4E3C;
//}

.product-card.unavailable .img-wrap {
  position: relative;
  overflow: hidden;

  & h1 {
    position: absolute;
    left: 0;
    bottom: 27%;
    width: 100%;
    color: #FFFFFF;
    padding: 0;
  }
}

.product-card.new .img-wrap {
  position: relative;
  overflow: hidden;

  & .rectangle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 66.5px;
    height: 24px;
    background: #000000;
    border-radius: 0 50px 50px 0;

    & h2 {
      font-family: 'Poppins-Regular', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      padding-top: 3px;
    }
  }
}

.product-card .rectangle {
  display: none;
}

.product-card.new .rectangle {
  display: block;
}

.product-thumb img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
}

.product-details {
  padding: 20px;
}

.product-details h6 {
  height: 23px;
  overflow: hidden;
  margin-bottom: 1em;
}

.product-details h6 > span {
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25.5px;
  margin-right: 8px;
  color: #8D8D8D;
  height: 26px;
  overflow: hidden;
  transition: all 0.15s ease-in;
}

.product-details p {
  font-family: 'NotoSans-Light',sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #8D8D8D;
  height: 19px;
  overflow: hidden;
  margin-bottom: 1.625em;
  line-height: 19.07px;
}

.product-bottom-details {
  overflow: hidden;
}

.product-price {
  font-size: 18px;
  color: #ee6e73;
  font-weight: 600;
}

.product-price span {
  font-family: 'NotoSans-Medium',sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27.24px;
  color: #000000;
  height: 27px;
}

.product-details a {
  font-family: 'NotoSans-Regular',sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #000000;
  height: 19px;
  text-decoration-line: none;
  overflow: hidden;
  line-height: 23.15px;
  border-bottom: 2px solid currentColor;
}

.product-card:hover a {
  text-decoration-line: underline;
}

.product-card h1 {
  display: none;
}

.product-card.unavailable h1 {
  display: block;
}

/* Product card */

/* Accordion */

.accordion {
  max-width: 51.25em;
  margin: 0 auto;
}

.accordion .card .btn-link {
  text-decoration: underline;
}

.accordion-flush .accordion-collapse {
  box-shadow: 0 0 18px 0 rgb(68 68 68 / 9%);
}

.accordion-flush {;
  border: none;
}

.accordion-flush .accordion-item .accordion-button {;
  border: none;
}

.accordion-item {
  border-bottom: 1px solid #C4C4C4;
}

.accordion-button {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20.43px;
  color: #000000;
  background-color: #F8F8F8;
  border-bottom: 1px solid #C4C4C4;
  transition: all 0.15s ease-in;
}

.accordion-button:focus {
  border: 0;
  transition: all 0.15s ease-in;
}

.accordion-button:not(.collapsed) {
  font-family: 'NotoSans-Regular', sans-serif;
  font-weight: 700;
  color: #DF4E3C;
  background-color: #fff;
  padding: 24px 34px 0 39px;
  transition: all 0.15s ease-in;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='red' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transition: all 0.15s ease-in;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(.7) !important;
  transition: all 0.15s ease-in;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-collapse {
  border: 0;
}

.accordion-body {
  font-family: 'NotoSans-Light',sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 39px;
  color: #000000;
}

.accordion-body p {
  line-height: 19.5px;
  margin-bottom: 8px;
}
/* Accordion */

.red{
  color: red !important;
}

footer{
  background-color: #000000;
  padding: 37px 0 39px 0;
  min-height: 121px;

  font-family: "NotoSans-Medium", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20.43px;

  // footer social
  .footer-list {
    ul{
      padding: 10px 0 0;
      li{
        list-style: none;
        float: left;
        padding: 0 40px 0 0;
        &:first-child{
          padding-left: 0;
        }
        a{
          height: 20px;
          font-size: 15px;
          color: #F8F8F8;
          text-decoration: none;
          transition: all 0.15s ease-in;
          &:hover{
            color: #DF4E3C;
            transition: all 0.15s ease-in;
          }
          &:focus{
            color: #DF4E3C;
          }
        }
      }
    }
  }


  // gallery image
  .footer-right{
    ul{
      padding-left: 0;
      li{
        list-style: none;
        float: left;
        margin: 0 3% 2% 0;
        width: 31%;
        position: relative;
        &:nth-child(3n) {
          margin: 0 0 1%;
        }
        a{

        }
      }
    }
  }
}

@media (max-width: 991px) {
  .col-md-6 li a {
    font-size: 14px !important;
  }
}