@font-face {
  font-family: "BIG JOHN";
  src: url("../fonts/big_john.woff2") format("woff2"), url("../fonts/big_john.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Slim Joe";
  src: url("../fonts/slim_joe.woff2") format("woff2"), url("../fonts/slim_joe.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", serif;
}
body h1 {
  margin: 0;
}
body a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease-in;
}
body .inner {
  margin: 0;
  padding: 0;
  width: 1000px;
}
body a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  text-transform: uppercase;
  color: #48bf72;
  border: 2px solid #48bf72;
  width: 10em;
  height: 3.5em;
  margin: 2px;
  font-family: "Lato", serif;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
}
body a.btn_effect {
  transition: background 0.3s linear;
}
body a.btn_effect:hover {
  background: #48bf72;
}
body a.btn-active:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
body header {
  color: #ffffff;
  height: 650px;
}
body header .header {
  background: url("../img/s1-bg.jpg") no-repeat top;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body header .header .nav-content {
  min-height: 4em;
  height: 4em;
}
body header .header .nav-content .logo_nav {
  width: 100%;
  height: 100%;
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  font-size: 16px;
}
body header .header .nav-content .logo_nav ul {
  margin: 0;
  padding: 0;
}
body header .header .nav-content .logo_nav ul li {
  list-style-type: none;
  display: inline-block;
}
body header .header .nav-content .logo_nav ul li:after {
  content: url("../img/sep.png");
  display: block;
  float: right;
  width: 1px;
  height: 100%;
  margin-left: 56px;
  margin-right: 46px;
}
body header .header .nav-content .logo_nav ul li:last-child:after {
  content: none;
}
body header .header .nav-content .logo_nav a {
  font-family: "Lato", serif;
  font-weight: bold;
  display: inline-block;
}
body header .header .nav-content .logo_nav a:hover {
  color: #48bf72;
  transition: all 0.3s ease-in;
}
body header .header .text-1 {
  font-family: "BIG JOHN", serif;
  font-size: 36px;
  margin-top: 200px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
body header .header .text-2 {
  font-family: "Slim Joe", serif;
  font-size: 20px;
  margin: 0 0 49px;
  line-height: 2;
  display: flex;
  justify-content: center;
}
body header .header .sl2_button {
  width: 134px;
  height: 35px;
  border-radius: 3px;
  margin: 0 auto;
  transition: all 0.3s ease-in;
}
body header .header .sl2_button:hover {
  color: #ffffff;
}
body main {
  background: #f9f9f9;
}
body main section {
  display: flex;
  justify-content: center;
}
body main section.section-1 {
  height: 1000px;
  /* ---- button ---- */
  /* ---- button-group ---- */
  /* ---- grid ---- */
  /* ---- .element-item ---- */
}
body main section.section-1 .button {
  display: inline-block;
  padding: 5px;
  margin: 51px 0 45px;
  height: 32px;
  border: none;
  background: #EEE linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  color: #3c4955;
  font-family: "Lato", serif;
  font-weight: bold;
  text-transform: none;
  font-size: 16px;
  cursor: pointer;
}
body main section.section-1 .button:hover {
  background-color: #97bfcf;
  color: #3c4955;
}
body main section.section-1 .button:active, body main section.section-1 .button.is-checked {
  background-color: #48bf72;
}
body main section.section-1 .button.is-checked {
  color: white;
}
body main section.section-1 .button:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
}
body main section.section-1 .button-group {
  display: flex;
  justify-content: center;
}
body main section.section-1 .button-group:after {
  content: "";
  display: block;
  clear: both;
}
body main section.section-1 .button-group .button {
  float: left;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 16px;
  transition: all 0.3s ease-in;
}
body main section.section-1 .grid {
  max-width: 1000px;
  /* clear fix */
}
body main section.section-1 .grid:after {
  content: "";
  display: block;
  clear: both;
}
body main section.section-1 .element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}
body main section.section-1 .element-item > * {
  margin: 0;
  padding: 0;
}
body main section.section-1 .element-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}
body main section.section-1 .element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 42px;
  font-weight: bold;
  color: white;
}
body main section.section-1 .element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}
body main section.section-1 .element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}
body main section.section-1 .element-item.alkali {
  background: red;
}
body main section.section-1 .element-item.alkaline-earth {
  background: #ff9900;
}
body main section.section-1 .element-item.lanthanoid {
  background: #ccff00;
}
body main section.section-1 .element-item.actinoid {
  background: #33ff00;
}
body main section.section-1 .element-item.transition {
  background: #00ff66;
}
body main section.section-1 .element-item.post-transition {
  background: aqua;
}
body main section.section-1 .element-item.metalloid {
  background: #0066ff;
}
body main section.section-1 .element-item.diatomic {
  background: #3300ff;
}
body main section.section-1 .element-item.halogen {
  background: #cc00ff;
}
body main section.section-1 .element-item.noble-gas {
  background: #ff0099;
}
body main section.section-2 {
  background: url("../img/s3-bg.jpg") no-repeat top;
  background-size: cover;
  height: 500px;
}
body main section.section-2 .inner {
  display: flex;
  justify-content: flex-end;
}
body main section.section-2 .inner .text {
  width: 420px;
  height: 380px;
  margin: 50px;
  color: #ffffff;
}
body main section.section-2 .inner .text h1 {
  font-size: 22px;
  line-height: 1.5;
}
body main section.section-2 .inner .text h1 b {
  font-size: 30px;
}
body main section.section-2 .inner .text p {
  line-height: 1.4;
  margin: 40px 0 0;
}
body main section.section-2 .inner .text a {
  margin-top: 36px;
  color: #3c4955;
  border: 2px solid #3c4955;
  transition: all 0.3s ease-in;
}
body main section.section-2 .inner .text a.sl2_button {
  width: 134px;
  height: 35px;
  border-radius: 3px;
  transition: all 0.3s ease-in;
}
body main section.section-2 .inner .text a.btn_effect:hover {
  color: #ffffff;
  background: #3c4955;
  transition: all 0.3s ease-in;
}
body main section.section-3 {
  height: 566px;
}
body main section.section-3 .inner h1 {
  font-family: "BIG JOHN", serif;
  font-size: 26px;
  color: #48bf72;
  text-transform: uppercase;
  font-weight: 300;
  margin: 51px 0 38px;
  display: flex;
  justify-content: center;
}
body main section.section-3 .inner .form {
  display: flex;
  justify-content: center;
}
body main section.section-3 .inner .form form {
  width: 704px;
  height: 406px;
}
body main section.section-3 .inner .form form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
body main section.section-3 .inner .form input,
body main section.section-3 .inner .form textarea {
  font: 700 16px/22px "Lato", serif;
}
body main section.section-3 .inner .form .register-group label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
body main section.section-3 .inner .form .register-group label:nth-of-type(1), body main section.section-3 .inner .form .register-group label:nth-of-type(2) {
  display: inline-block;
  width: 335px;
}
body main section.section-3 .inner .form .register-group label:nth-of-type(2) {
  margin-left: 26px;
}
body main section.section-3 .inner .form .register-group label:nth-of-type(3) {
  display: block;
  width: 100%;
}
body main section.section-3 .inner .form .register-group label input::-webkit-input-placeholder, body main section.section-3 .inner .form .register-group label textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #a6a5a5;
}
body main section.section-3 .inner .form .register-group label input::-moz-placeholder, body main section.section-3 .inner .form .register-group label textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #a6a5a5;
}
body main section.section-3 .inner .form .register-group label input:-moz-placeholder, body main section.section-3 .inner .form .register-group label textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #a6a5a5;
}
body main section.section-3 .inner .form .register-group label input:-ms-input-placeholder, body main section.section-3 .inner .form .register-group label textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #a6a5a5;
}
body main section.section-3 .inner .form .register-group label input:focus::-webkit-input-placeholder, body main section.section-3 .inner .form .register-group label textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #a6a5a5;
}
body main section.section-3 .inner .form .register-group label input:focus::-moz-placeholder, body main section.section-3 .inner .form .register-group label textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #a6a5a5;
}
body main section.section-3 .inner .form .register-group label input:focus:-moz-placeholder, body main section.section-3 .inner .form .register-group label textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #a6a5a5;
}
body main section.section-3 .inner .form .register-group label input:focus:-ms-input-placeholder, body main section.section-3 .inner .form .register-group label textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #a6a5a5;
}
body main section.section-3 .inner .form .register-group label input {
  display: inline-block;
  width: 262px;
  height: 50px;
}
body main section.section-3 .inner .form .register-group label input.icon-user {
  background: #f1f1f1 url("../img/icon-user.png") no-repeat;
}
body main section.section-3 .inner .form .register-group label input.icon-email {
  background: #f1f1f1 url("../img/icon-email.png") no-repeat;
}
body main section.section-3 .inner .form .register-group label input, body main section.section-3 .inner .form .register-group label textarea {
  border: 2px solid #3c4955;
  border-radius: 7px;
  color: #a6a5a5;
  display: block;
  padding: 0 0 0 73px;
  background: #f1f1f1;
}
body main section.section-3 .inner .form .register-group label textarea {
  margin-top: 30px;
  width: 627px;
  height: 214px;
  padding-top: 14px;
}
body main section.section-3 .inner .form .register-group label textarea.icon-message {
  background: #f1f1f1 url("../img/icon-message.png") no-repeat;
}
body main section.section-3 .inner .form input.btn-default {
  width: 100%;
  margin-top: 30px;
  border: 0;
  border-radius: 5px;
  background: #48bf72;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 11px 30px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
body main section.section-3 .inner .form input.btn-default:hover {
  background: #3c4955;
  color: #48bf72;
  transition: all 0.3s ease-in;
}
body main section.section-3 .inner .form input.btn-default.btn-active:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
body footer {
  display: flex;
  justify-content: center;
  height: 201px;
  background: #3c4955;
}
body footer .footer {
  height: 100%;
}
body footer .footer .inner {
  display: flex;
  height: 100%;
}
body footer .footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body footer .footer .footer-content .text p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}
body footer .footer .footer-content .social a {
  margin-left: 40px;
}
body footer .footer .footer-content .social a img:hover {
    transform: rotate(360deg);
    transition: all 0.8s ease-in;
}

/*# sourceMappingURL=style.css.map */
