@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserratlight.woff2") format("woff2"), url("../fonts/montserratlight.woff") format("woff"), url("../fonts/montserratlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat UltraLight";
  src: url("../fonts/montserrat-ultralight.woff2") format("woff2"), url("../fonts/montserrat-ultralight.woff") format("woff"), url("../fonts/montserrat-ultralight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Medium";
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway ExtraBold";
  src: url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff"), url("../fonts/raleway-extrabold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway SemiBold";
  src: url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100%;
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  background-color: #000;
  font-weight: 300;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #555555;
  letter-spacing: 1px;
}

p {
  font-family: "Montserrat Regular", sans-serif;
  margin: 0 0 47px;
  font-size: 15px;
  color: #8c8c8c;
  line-height: 1.3;
}

@media (min-width: 768px) {
  p {
    margin: 0 0 47px;
    font-size: 15px;
    line-height: 1.3;
  }
}
a {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

.b-up-arrow {
  position: fixed;
  bottom: 70px;
  width: 50px;
  height: 50px;
  background: rgba(255, 0, 0, 0.4);
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}
.b-up-arrow:hover {
  opacity: 1;
  background: #ff0000 !important;
  transition: all 0.3s ease-in;
}
.b-up-arrow:after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid;
  border-right: 2px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.b-up-arrow_pos_right {
  right: 36px;
}

.fa {
  color: #000000;
}

.light {
  font-weight: 400;
}

.blink {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 2s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 2s;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.transform {
  animation-name: transformer;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 2, 0, 1);
  animation-duration: 3s;
  -webkit-animation-name: transformer;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 2, 0, 1);
  -webkit-animation-duration: 3s;
}

@keyframes transformer {
  0%, 100% {
    transform: translate(0, 0);
    background-color: #736357;
  }
  50% {
    transform: translate(50px, 0);
    background-color: #998675;
  }
  80% {
    transform: translate(-50px, 0);
  }
}
@-webkit-keyframes transformer {
  0%, 100% {
    transform: translate(0, 0);
    background-color: #736357;
  }
  50% {
    transform: translate(50px, 0);
    background-color: #998675;
  }
  80% {
    transform: translate(-50px, 0);
  }
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #ffffff;
}
.navbar-custom .navbar-toggle {
  padding: 0;
  border: none;
}
.navbar-custom .hamburger {
  cursor: pointer;
  transition: background 0.3s;
  outline: none;
  display: block;
  padding: 5px 0;
}
.navbar-custom .hamburger span {
  display: block;
  margin: 10px 0;
  width: 40px;
  height: 4px;
  background: #333333;
  position: relative;
  border-radius: 2px;
  transition: background 0s 0.3s;
}
@media all and (min-width: 768px) {
  .navbar-custom .hamburger span {
    display: none;
  }
}
.navbar-custom .hamburger span:before, .navbar-custom .hamburger span:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #333333;
  border-radius: 2px;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.navbar-custom .hamburger span:before {
  top: -9px;
  transition-property: top, transform;
}
.navbar-custom .hamburger span:after {
  bottom: -9px;
  transition-property: bottom, transform;
}
.navbar-custom .hamburger.active span {
  background: none;
}
.navbar-custom .hamburger.active span:before {
  transform: rotate(45deg);
  top: 0;
  transition-delay: 0s, 0.3s;
}
.navbar-custom .hamburger.active span:after {
  transform: rotate(-45deg);
  bottom: 0;
  transition-delay: 0s, 0.3s;
}
.navbar-custom .navbar-logo {
  padding: 5px 5px;
  font-size: 20px;
  text-transform: none;
  letter-spacing: 1px;
}
.navbar-custom .navbar-logo:focus {
  outline: 0;
}
.navbar-custom .navbar-logo .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}
.navbar-custom .navbar-logo .navbar-toggle:focus, .navbar-custom .navbar-logo .navbar-toggle:active {
  outline: 0;
}
.navbar-custom #nav .current a {
  background: transparent;
  color: #ff0000;
  font-weight: bold;
}
.navbar-custom #nav li a {
  padding: 18px 8px;
  color: #000000;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom #nav li a:hover {
  outline: 0;
  color: #ff0000;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-custom #nav li a:focus, .navbar-custom #nav li a:active {
  background-color: transparent;
}
.navbar-custom #nav li a.active {
  color: #ff0000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-custom #nav li a.active:hover {
  color: #ff0000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .navbar-custom #nav li a:hover {
    background-color: #000000;
  }
  .navbar-custom #nav li.active {
    background-color: #000000;
  }
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    font-size: 15px;
    background: url("../img/bg-header.jpg") no-repeat left;
    background-size: cover;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #000000;
    background: rgba(255, 255, 255, 0.7);
  }
  .navbar-custom.top-nav-collapse a {
    color: #333;
    display: inline-block;
  }
  .navbar-custom.top-nav-collapse img {
    height: 40px;
    padding: 0 0 0 25px;
  }
}
.home {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/slide-1-bg.jpg) fixed 47% 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.home .header-body {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
}
.home .header-body .row {
  margin: 0;
}
.home .header-body .brand-heading {
  font-family: "Raleway ExtraBold", sans-serif;
  font-size: 52px;
  color: #ffffff;
  text-transform: uppercase;
}
.home .header-body .intro-text {
  font-family: "Montserrat Light", sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.home .header-body .intro-text span {
  color: #ff0000;
  font-weight: bold;
}

@media (max-width: 419px) {
  .home {
    min-width: 419px;
    background: url(../img/slide-1-bg.jpg) 50% center no-repeat;
  }
}
@media (min-width: 768px) {
  .home {
    height: 100%;
    padding: 0;
  }
  .home .header-body .brand-heading {
    font-size: 52px;
    margin-top: 90px;
    margin-bottom: 0;
    display: inline-block;
    padding: 10px 0;
  }
  .home .header-body .intro-text {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
.btn-rectangle {
  width: 170px;
  height: 50px;
  margin: 0 0 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px !important;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background: #998675;
  box-shadow: 0 4px 0 #736357;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-rectangle:hover, .btn-rectangle:focus {
  box-shadow: none;
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.btn-rectangle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-rectangle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.gallery {
  margin: 0;
  padding: 0;
}
.gallery h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.gallery p {
  border: 1px dotted;
  margin: 20px 10px 0;
}
.gallery p:nth-child(2) {
  margin-top: 3px;
  color: #ff0000;
}
.gallery .works-menu {
  padding: 10px 0 15px;
  text-align: center;
}
.gallery .works-menu ul li {
  font-family: "Montserrat Light", sans-serif;
  font-size: 15px;
  color: #998675;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  padding: 5px 10px;
  margin-top: 22px;
  border: 1px solid #998675;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.gallery .works-menu ul li:hover, .gallery .works-menu ul li.active {
  color: #fff;
  background: #998675;
}
.gallery .works-menu ul li:hover i, .gallery .works-menu ul li.active i {
  color: #fff;
}
.gallery .works-menu ul li i {
  margin-right: 5px;
  font-size: 14px;
  color: #998675;
}
.gallery .works-menu ul li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background: #998675;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.gallery .works-menu ul li.active:before {
  top: -4px;
  opacity: 1;
  visibility: visible;
}
.gallery .works-menu ul li:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #998675;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.gallery .works-menu ul li.active:after {
  opacity: 1;
  visibility: visible;
  bottom: -4px;
}
.gallery .albums {
  position: relative;
  margin: 15px;
  overflow: hidden;
}
.gallery .albums:before {
  background: #2f2f2f;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}
.gallery .albums:hover:before {
  opacity: 0.9;
  visibility: visible;
}
.gallery .albums img {
  width: 100%;
}
.gallery .albums .albums-hover {
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: left;
}
.gallery .albums:hover .albums-hover {
  opacity: 1;
  visibility: visible;
}
.gallery .albums .albums-hover .link:before {
  position: absolute;
  content: "";
  left: 50%;
  top: -40px;
  height: 40px;
  width: 2px;
  background: #fff;
  margin-top: -20px;
  margin-left: -1px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}
.gallery .albums:hover .albums-hover .link:before {
  top: 50%;
  opacity: 1;
  visibility: visible;
}
.gallery .albums .albums-hover .link:after {
  position: absolute;
  content: "";
  left: -40px;
  top: 50%;
  height: 2px;
  width: 40px;
  background: #fbfaf8;
  margin-top: -1px;
  margin-left: -20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}
.gallery .albums:hover .albums-hover .link:after {
  left: 50%;
  opacity: 1;
  visibility: visible;
}
.gallery .albums .img-bottom {
  width: 100%;
  height: 100px;
  background: #f5f4f2;
  text-align: left;
  padding-left: 30px;
}
.gallery .albums .img-bottom a {
  color: #c7b299;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.gallery .albums h4 {
  position: absolute;
  bottom: 47px;
  margin: 0;
  font-family: "Raleway Medium", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #c7b299;
}
.gallery .albums h4 a:hover {
  color: #ffffff;
}
.gallery .albums h6 {
  position: absolute;
  bottom: 0;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #b2b2b2;
}
.gallery .isotop-active .col-md-4 {
  padding-right: 0;
  padding-left: 0;
}

.rules {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  background: url(../img/slide-3-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.rules .btn-rectangle {
  width: auto;
}
.rules .rules-body {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.rules .rules-body h2 {
  margin: 80px 0 20px;
  font-family: "Raleway Medium", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #ffffff;
}
.rules .rules-body h5 {
  margin: 0 0 17px;
  font-family: "Montserrat Regular", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.5;
}
.rules .rules-body p {
  margin: 0 0 17px;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 24px;
  color: #c7b299;
}
.rules .video-popup {
  background: rgba(0, 0, 0, 0);
  height: 95px;
  width: 95px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -30px;
  margin-top: -30px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 100%;
}
.rules .video-popup:hover {
  transform: scale(1.1);
  background: #3339;
}

@media (min-width: 768px) {
  .rules {
    height: 100%;
    padding: 0;
  }
  .rules h5 {
    margin: 0 0 17px;
    font-family: "Montserrat Regular", sans-serif;
    font-size: 18px;
    color: #ffffff;
  }
  .rules p {
    margin: 0 0 17px;
    font-family: "Montserrat Regular", sans-serif;
    font-size: 24px;
    color: #c7b299;
  }
}
.rules-2 {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  text-align: center;
}
.rules-2 .rules-body-2 {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.rules-2 h2 {
  margin-bottom: 40px;
}
.rules-2 ol {
  list-style: none;
  /* Убираем исходные маркеры */
  counter-reset: item;
  /* Обнуляем счетчик списка */
  padding-right: 15px;
  text-align: left;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 15px;
  color: #8c8c8c;
}
.rules-2 ol li {
  margin-top: 21px;
  text-align: justify;
}
.rules-2 ol li:before {
  content: counter(item) ") ";
  /* Добавляем к числам скобку */
  counter-increment: item;
  /* Задаём имя счетчика */
}
.rules-2 ol span {
  color: #998675;
  font-weight: bold;
}
.rules-2 ol p {
  margin: 0;
  padding: 10px 0;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 15px;
  color: #8c8c8c;
}

.numbers {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  background: url(../img/slide-5-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.numbers .numbers-body {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.numbers .one,
.numbers .two,
.numbers .three,
.numbers .four {
  display: inline-block;
}
.numbers h1 {
  margin: 30px 0 21px;
  font-family: "Montserrat Ultra Light", sans-serif;
  font-size: 48px;
  font-weight: normal;
  color: #ffffff;
}
.numbers h6 {
  margin: 0;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #c7b299;
}
.numbers .col-sm-12,
.numbers .col-md-12 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .numbers h6 {
    font-size: 17px;
  }
}
@media (max-width: 565px) {
  .numbers h1 {
    font-size: 32px;
  }
  .numbers h6 {
    font-size: 11px;
  }
}
.content-section {
  padding: 84px 0;
  clear: both;
}

@media (min-width: 768px) {
  .content-section {
    padding: 84px 0;
    clear: both;
  }
}
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-default {
  border: 1px solid #42dca3;
  color: #42dca3;
  background-color: transparent;
}
.btn-default:hover, .btn-default:focus {
  border: 1px solid #42dca3;
  outline: 0;
  color: #000;
  background-color: #42dca3;
}

img {
  max-width: 100%;
}

section {
  min-width: 419px;
  background-color: #f9f9f9;
  color: #333;
  overflow: hidden;
}
section:after {
  float: none;
  clear: both;
}

/*# sourceMappingURL=style.css.map */
