.c-nav__menu-btn {
  display: block;
  position: relative;
  width: 18px;
  height: 12px;
  padding: 0;
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;

  @include mq($max: $md) {
    cursor: default;
  }

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all .3s ease 0s;
    background-color: palette(secondary-black);

    &.top {
      top: 0;
    }

    &.center {
      top: 5px;
    }

    &.bottom {
      bottom: 0;
    }
  }

  &.active .top {
    top: 50%;
    transform: rotate(45deg);
  }

  &.active .center {
    opacity: 0;
  }

  &.active .bottom {
    top: 50%;
    transform: rotate(-45deg);
  }
}

.c-nav__menu-body {
  position: fixed;
  top: 80px;
  left: -100%;
  width: 250px;
  height: auto;
  background-color: rgba(palette(primary-white), .9);
  padding: 10px 0;
  transition-duration: .25s;
  box-shadow: 0 5px 5px -4px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 5px 5px -4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 5px -4px rgba(0, 0, 0, .2);
  overflow: auto;

  @include mq($max: $md) {
    width: 100%;
    top: 100px;
    text-align: center;
  }

  &::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
  }

  &.active {
    left: 0;
  }
}

.c-nav__menu-item {
  padding: 8px 20px;
  display: block;
  @include font-family(base);
  @include font(mid, 16, 600);
  transition-duration: .25s;

  &:hover {
    background-color: #ededed;
  }
}